<!-- Start Content-->
<div class="container-fluid">


  <div class="row justify-content-between border-danger border bg-light">

    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/dev-tools"  class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a><span *ngIf="sid != '0'"> Update</span><span *ngIf="sid == '0'"> Create</span> table
      </h4>
    </div>

    <div class="col-xl-12 ctm-form">

      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>Month</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa-calendar-alt"></i>
                    </span>
                  </div>
                  <select required formControlName="month" aria-describedby="emailHelp" class="form-control m-input" type="select" >
                    <option value="">Select Month</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                  </select>

                  <em class="show-error" *ngIf="frmMonth.invalid && (frmMonth.dirty || frmMonth.touched)">Month invalide</em>
                </div>
                <p class="form-refer-text">Month Name | Ex Jan</p>
              </div>


              <div class="form-group mb-3">
                <label>Year</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa-calendar-alt"></i>
                    </span>
                  </div>
                  <select required formControlName="year" aria-describedby="emailHelp" class="form-control m-input" type="select" >
                    <option value="">Select Year</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                  </select>

                  <em class="show-error" *ngIf="frmYear.invalid && (frmYear.dirty || frmYear.touched)">Year invalide</em>
                </div>
                <p class="form-refer-text">Year | Ex 2021</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <a  routerLink="/dev-tools" class="btn btn-danger btn-md waves-effect waves-light">cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->



  </div> <!-- container -->
