<!-- Start Content-->
<div class="container-fluid">
  <!-- end page title -->
  <div class="row">

    <div class="col-xl-6">

      <div class="mb-3 border border-bottom border-top-0 border-success manual-session-ui">

        <h5 class="text-light text-capitalize bg-success p-2 mt-0">
          <b>bookmaker market :  {{fList.title}} </b>
        </h5>
        <div class="p-1" *ngIf="fList.game_over == 0">
          <div class="p-2 bg-white">
            <ul class="nav nav-tabs">
              <li class="nav-item" *ngFor="let team of fList.runners">
                <a  class="nav-link"  [ngClass]="{ 'active':  s_id == team?.secId}" (click)="selectTeam(team?.secId);">
                  {{team?.runner}}
                </a>
              </li>

              <li class="nav-item">
                <a  class="nav-link" [ngClass]="{ 'active':  s_id == '0'}" (click)="selectTeam('0');">
                  Both / all
                </a>
              </li>
              <li class="nav-item">
                <a  (click)="zeroOneRate();" class="nav-link">
                  0-1
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="TeamC">
                <div class="row">
                  <div class="col-6">
                    <h5 class="teamabx">{{this.favTeam}}</h5>
                  </div>
                  <div class="col-6">
                    <h5 class="team-time-out">time out: <span id="countdowntimer">00s</span></h5>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <form [formGroup]="frm" (keydown.enter)="getFormData()" class="updatebookmaker">
                    <div class="form-row align-items-center">
                      <div class="col-md-6 col-12">
                        <span>&nbsp;</span>
                        <div class="input-group"> <!--[(ngModel)]="diffrance"-->
                          <input required maxlength="3" (input)="diffCheck($event);" value="{{this.diffrance}}"  autocomplete="off" class="form-control m-input" id="inlineFormInputGroup"
                                 placeholder="Difference" type="number">
                          <div class="input-group-prepend">
                            <a class="btn text-capitalize" [ngClass]="{'btn-danger':  fList.suspended == 0, 'btn-success':  fList.suspended == 1}" (click)="suspended();">suspended</a>
                          </div>
                        </div>
                        <small>Difference | Ex 1</small>
                      </div>

                      <div class="col-md-3 col-6" [ngClass]="{'has-danger' : ( frmBack.invalid && (frmBack.dirty || frmBack.touched) ) }">
                        <span>back price</span>
                        <input autocomplete="off" type="text" autofocus required formControlName="back"  pattern="\d*" maxlength="6" (input)="limit($event);" aria-describedby="emailHelp" class="form-control m-input" id="no_run"
                               placeholder="Back" >
                        <small>back | ex: 90</small>
                      </div>
                      <div class="col-md-3 col-6" [ngClass]="{'has-danger' : ( frmLay.invalid && (frmLay.dirty || frmLay.touched) ) }">
                        <span>lay price</span>
                        <input  autocomplete="off" required disabled formControlName="lay" aria-describedby="rateHelp" class="form-control m-input" id="exampleInputMarketCount"
                                placeholder="Lay" type="text">
                        <small>lay | ex: 90</small>
                      </div>

                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="card-body">

                  <div class="py-1 row justify-content-end align-items-center mb-1 bg-light align-center">
                    <div class="col-xl-6 col-5 text-right">
                      <div class="button-list">
                        <button class="btn btn-dark btn-xs odd-btn  font-weight-bold">Back</button>
                        <button class="btn btn-dark btn-xs odd-btn font-weight-bold">Lay</button>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-between align-items-center" *ngFor="let irunner of fList?.runners;">
                    <div class="col-xl-6 col-7 text-left">
                      <p class="m-0 bm-title">{{irunner.runner}}</p>
                    </div>
                    <div class="col-xl-6 col-5 text-right">
                      <div class="suspended-div">

                        <div class="button-list">

                          <button class="btn btn-back odd-btn mt-1">
                            <p class="m-0 font-weight-bold" *ngIf="irunner.back != undefined">
                              {{irunner?.back}}
                            </p>
                            <p class="m-0 font-weight-bold" *ngIf="irunner.back == undefined">
                             0
                            </p>
                          </button>

                          <button class="btn btn-lay odd-btn mt-1">
                            <p class="m-0 font-weight-bold" *ngIf="irunner.lay != undefined">
                              {{irunner?.lay}}
                            </p>
                            <p class="m-0 font-weight-bold" *ngIf="irunner.lay == undefined">
                              0
                            </p>
                          </button>
                        </div>
                        <div class="suspended-text" *ngIf="irunner?.ball_running == 1 && irunner?.suspended == 0">
                          Ball Running
                        </div>
                        <div class="suspended-text mt-1" *ngIf="irunner?.suspended == 1">
                          Suspended
                        </div>

                        <div class="suspended-text mt-1" *ngIf="irunner.lay== undefined && irunner.back== undefined">
                          Suspended
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="p-1" *ngIf="fList.game_over == 1">
          <div class="p-2 bg-white">
            <span><b>This market is closed.</b> <br> Result: {{fList.win_result}}</span>
          </div>
        </div>
      </div> <!-- end #accordions-->
    </div>

    <div class="col-xl-6"  *ngIf="fList.game_over == 0">
      <div class="border border-bottom border-top-0 mb-2 border-success manual-session-ui">
        <h5 class="text-light text-capitalize bg-success p-2 mt-0">
          <b>bet list: : 1 to 2 over</b>
        </h5>

        <div class="p-1 table-responsive">
          <!-- <table id="ScrollVerticalMinus" class="table bg-white dt-responsive nowrap"> -->
          <table id="" class="table bg-white nowrap">
            <thead class="bg-dark">
            <tr>
              <th>bet id</th>
              <th>runner name</th>
              <th>client</th>
              <th>odds</th>
              <th>stack</th>
              <th>P/L</th>
              <th>time</th>
              <th>master</th>
              <th>ip</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>334157</td>
              <td>1 To 2 Over </td>
              <td>abcd</td>
              <td>150.00</td>
              <td>1000.00</td>
              <td>1500.00</td>
              <td>Jan 7, 2020, 4:20:37 PM</td>
              <td>mast name</td>
              <td>150.152.162.0</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container -->
