<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between border-danger border bg-light">
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/cricket/inplay" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>{{event_name}} - Create Commentory
      </h4>
    </div>
    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3 mt-2">
                <div class="input-group">
                  <a (click)="changeCommentary(item)" *ngFor="let item of commentaryList;">
                    <span class="m-badge m-badge--wide btn cmt-btn mr-1 mb-1 m-badge--info btnActive" id="{{item}}">{{item}}</span><!--[ngClass]="item=='Suspended' ? 'cmt-active' : ''"-->
                  </a>
                </div>
              </div>

            <!--  <div class="form-group mb-3 mt-2">
                <div class="input-group">
                  <select style="width: 50%;" class="form-control m-bootstrap-select--solid" name="filter_status" id="SelectedId"
                          (change)="applyFilters()">
                    <option value="All" selected="selected"> All</option>
                    <option value="fancy2">Session</option>
                    <option value="fancy3">Other Market</option>
                    <option value="bookmaker">Bookmaker</option>
                    <option value="ballbyball">Ballbyball</option>
                  </select>
                </div>
              </div>-->



              <div class="form-group mb-3">
                <label>Title for Commentary</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-calendar-alt"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="title" class="form-control" placeholder="Enter Title for Commentary" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmtitle.invalid && (frmtitle.dirty || frmtitle.touched)">Title invalid</em>
                </div>
                <p class="form-refer-text">	Title | Ex Ball Running</p>
              </div>
              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <a routerLink="/events/cricket/inplay" class="btn btn-danger btn-md waves-effect waves-light">cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  </div> <!-- container -->
<ngx-spinner></ngx-spinner>
