<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between bg-light border border-danger">
    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3" style="display:none;">
                <label>Market Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="marketname" class="form-control" placeholder="marketname"
                         aria-label="" aria-describedby="">
                  <em class="show-error"
                      *ngIf="frmMarketname.invalid && (frmMarketname.dirty || frmMarketname.touched)">Value Invalid
                    !</em>
                </div>
                <p class="form-refer-text"> Value | Ex xyz</p>
              </div>


              <div class="form-group mb-3" *ngIf="this.sid != '7'">
                <label>Event Id</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="eventId" class="form-control" placeholder="eventId"
                         aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmEventId.invalid && (frmEventId.dirty || frmEventId.touched)">EventId
                    Invalid !</em>
                </div>
                <p class="form-refer-text"> EventId | Ex 9955</p>
              </div>

              <div class="form-group mb-3">
                <label>Market/Event Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="mname" class="form-control" placeholder="mname"
                         aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMname.invalid && (frmMname.dirty || frmMname.touched)">Market/Event
                    Name Invalid !</em>
                </div>
                <p class="form-refer-text"> Market/Event Name | Ex xyz</p>
              </div>

              <div class="form-group mb-3">
                <label>Market type</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-key"></i>
                      </span>
                  </div>

                  <input type="text" *ngIf="this.id == '0'" required formControlName="mtype" class="form-control"
                         placeholder="mtype">
                  <input type="text" readonly *ngIf="this.id != '0'" required formControlName="mtype"
                         class="form-control" placeholder="mtype">
                  <em class="show-error" *ngIf="frmMtype.invalid && (frmMtype.dirty || frmMtype.touched)">Market type
                    Invalid !</em>
                </div>
                <p class="form-refer-text"> Market type | Ex session</p>
              </div>

              <div class="form-group mb-3">
                <label>Slug</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="slug" class="form-control" placeholder="slug">
                  <em class="show-error" *ngIf="frmSlug.invalid && (frmSlug.dirty || frmSlug.touched)">Slug Invalid
                    !</em>
                </div>
                <p class="form-refer-text"> Slug | Ex xyz</p>
              </div>

              <div class="form-group mb-3">
                <label>Min stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="min_stake" class="form-control" placeholder="min_stake">
                  <em class="show-error" *ngIf="frmMinstake.invalid && (frmMinstake.dirty || frmMinstake.touched)">Min
                    stake Invalid !</em>
                </div>
                <p class="form-refer-text"> Min stake | Ex 10</p>
              </div>


              <div class="form-group mb-3">
                <label>Max stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="max_stake" class="form-control" placeholder="max_stake">
                  <em class="show-error" *ngIf="frmMaxstake.invalid && (frmMaxstake.dirty || frmMaxstake.touched)">Max
                    stake Invalid !</em>
                </div>
                <p class="form-refer-text"> Max stake | Ex 1000</p>
              </div>

              <div class="form-group mb-3">
                <label>Max profit limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="max_profit_limit" class="form-control"
                         placeholder="max_profit_limit">
                  <em class="show-error"
                      *ngIf="frmMaxprofitLimit.invalid && (frmMaxprofitLimit.dirty || frmMaxprofitLimit.touched)">Max
                    profit limit Invalid !</em>
                </div>
                <p class="form-refer-text"> Max profit limit | Ex 100000</p>
              </div>


              <div class="form-group mb-3" style="display: none;">
                <label>is Block</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="is_block" class="form-control" placeholder="is_block">
                  <em class="show-error" *ngIf="frmIsblock.invalid && (frmIsblock.dirty || frmIsblock.touched)">is Block
                    Invalid !</em>
                </div>
                <p class="form-refer-text"> is Block | Ex 0</p>
              </div>


              <div class="form-group mb-3" style="display: none;">
                <label>Suspend</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="suspend" class="form-control" placeholder="suspend">
                  <em class="show-error" *ngIf="frmSuspend.invalid && (frmSuspend.dirty || frmSuspend.touched)">Suspend
                    Invalid !</em>
                </div>
                <p class="form-refer-text"> Suspend | Ex 1</p>
              </div>

              <div class="form-group mb-3" style="display: none;">
                <label>Bet Allowed</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                          <i class="fas fa-lock"></i>
                      </span>
                  </div>
                  <input type="text" required formControlName="bet_allowed" class="form-control"
                         placeholder="bet_allowed">
                  <em class="show-error"
                      *ngIf="frmBetAllowed.invalid && (frmBetAllowed.dirty || frmBetAllowed.touched)">Bet Allowed
                    Invalid !</em>
                </div>
                <p class="form-refer-text"> Bet Allowed | Ex 1</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">
                    submit
                  </button>
                  <button class="btn btn-danger btn-md waves-effect waves-light" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->
</div> <!-- container -->
<ngx-spinner></ngx-spinner>
