<!-- Start Content-->
<div class="container-fluid">



  <div class="row justify-content-between">


    <div class="col-7 py-1 bg-danger">
      <h4 class="page-title">
        <a routerLink="/" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a> Super User List
      </h4>
    </div>
    <div class="col-5 text-right py-1 bg-danger">
      <a routerLink="/users/create-session-user" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create new</a>
    </div>


    <div class="table-responsive col-xl-12 bg-white py-2 ctm-datables">
      <!-- <table id="demo-foo-filtering" class="table table-hover toggle-circle mb-0" data-page-size="10">-->
      <table id="scroll-horizontal-datatable" class="table dt-responsive nowrap table-hover scroll-horizontal-datatable ">
        <thead class="bg-danger text-white">
        <tr>
          <th data-toggle="true">#</th>
          <th>user Name</th>
          <th data-hide="phone">name</th>
          <th data-hide="phone, tablet">action</th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.name}}</td>
          <td>{{item.username}}</td>
          <td>
            <span (click)="changeStatus(item)" class="badge label-table badge-{{item.status.cssClass}}">{{item.status.text}}</span>
          </td>
        </tr>
        <!-- <tr>
            <td>Shona</td>
            <td>Woldt</td>
            <td>Airline Transport Pilot</td>
            <td><span class="badge label-table badge-secondary">Disabled</span></td>
          </tr> -->

        </tbody>
        <tfoot>
        <tr class="active">
          <td colspan="5">
            <div class="text-right">
              <ul class="pagination pagination-rounded justify-content-end footable-pagination m-t-10 mb-0"></ul>
            </div>
          </td>
        </tr>
        </tfoot>
      </table>
    </div> <!-- end .table-responsive-->


    <!-- <div class="col-12 mb-xl-2 text-right">
        <button class="btn btn-success font-weight-bold text-uppercase">Create new</button>
    </div>
    <div class="col-xl-12 bg-white py-2 ctm-datables">

        <table id="basic-datatable" class="table dt-responsive nowrap table-hover">

            <thead class="bg-danger">
                <tr class="text-white">
                    <th>#</th>
                    <th>username</th>
                    <th>name</th>
                    <th>parent</th>
                    <th>Action</th>
                </tr>
            </thead>


            <tbody>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>st01</td>
                    <td>santosh</td>
                    <td>admin</td>
                    <td>
                        <button class="btn btn-xs btn-white border border-success waves-effect waves-light"><i class="mdi mdi-check-decagram"></i></button>
                        <button class="btn btn-xs btn-success waves-effect waves-light">RP</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div> -->

  </div>
  <!-- end row -->
</div>
