
<div class="container-fluid">


  <div class="row align-items-center border-danger border bg-light">
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a *ngIf="userrole==5" routerLink="/users" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>
        <a *ngIf="userrole==7" routerLink="/users/session-user" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>
        Update user
      </h4>
    </div>
    <div class="col-xl-12 ctm-form">

      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="name" class="form-control" placeholder="enter name" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmName.invalid && (frmName.dirty || frmName.touched)">name invalid</em>
                 <!-- <div class="show-error" *ngIf="frmEventName.invalid && (frmEventName.dirty || frmEventName.touched)">
                    Required Field!
                  </div>-->
                </div>



                <p class="form-refer-text">Name | Ex abc</p>
              </div>

              <div class="form-group mb-3">
                <label>username</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="username"  class="form-control" placeholder="enter username" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmUserName.invalid && (frmUserName.dirty || frmUserName.touched)">username invalid</em>
                </div>
                <p class="form-refer-text">username | Ex user</p>
              </div>


              <div class="form-group mb-3">
                <h5>Assign to sport type</h5>
                <div class="form-check" *ngFor="let item of sportList; let i = index;">
                  <input type="checkbox" required formControlName="assignsport" [checked]="item.checked==1" (change)="onChangeSport($event, item)"  *ngIf="item.name !== 'Users' && item.name !== 'Sport' && (item.name !== 'Add Events' || userrole== 5)  && (item.name !== 'Dashboard' || userrole== 5)  && item.name !== 'Add Rules'" class="form-check-input" aria-label="" aria-describedby="">
                  <span class="form-check-label" for="defaultCheck1" *ngIf="item.name !== 'Users' && item.name !== 'Sport' && (item.name !== 'Add Events' || userrole== 5) && (item.name !== 'Dashboard' || userrole== 5)  && item.name !== 'Add Rules'">
                      {{item.name}}
                  </span>
                </div>
              </div>


              <div class="form-group mb-3" *ngIf="userrole== 7">
                <h5>Assign to market type</h5>
                <div class="form-check" *ngFor="let item2 of marketList; let i = index;">
                  <input type="checkbox" required formControlName="assignmarket" [checked]="item2.checked==1"  (change)="onChangeMarket($event, item2)" class="form-check-input">
                  <span class="form-check-label" for="defaultCheck1">
                      {{item2.name}}
                  </span>
                </div>
              </div>

              <div class="form-group mb-3"  *ngIf="userrole== 7">
                <h5>Assign to Action</h5>
                <div class="form-check" *ngFor="let item3 of actionList; let i = index;">
                  <input type="checkbox" required formControlName="assignmarket" [checked]="item3.checked==1"  (change)="onChangeAction($event, item3)" class="form-check-input" aria-label="" aria-describedby="" *ngIf="item3.name !== 'Abundant' && item3.name !== 'Game Over' && item3.name !== 'Game Recall'">
                  <span class="form-check-label" for="defaultCheck1" *ngIf="item3.name !== 'Abundant' && item3.name !== 'Game Over' && item3.name !== 'Game Recall'">
                      {{item3.name}}
                  </span>
                </div>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md waves-effect waves-light">submit</button>
                  <a *ngIf="userrole==5" routerLink="/users" class="btn btn-danger btn-md waves-effect waves-light">CANCEL</a>
                  <a *ngIf="userrole==7" routerLink="/users/session-user" class="btn btn-danger btn-md waves-effect waves-light">CANCEL</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->



  </div> <!-- container -->
