<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between ">
    <!--back & create-->
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <!--<a class="btn btn-xs btn-light waves-effect text-dark waves-light mr-1 px-1">
          <i class="mdi mdi-arrow-left"></i> Back
        </a>-->
        {{title}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a routerLink="{{createUrl}}/0" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create New</a>
    </div>
    <!--back & create-->
    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Key</th>
          <th>Value</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.key}}</td>
          <td style="white-space: pre-line">{{item.value}}</td>
          <td>
            <a (click)="changeStatus(item)"
               class="btn btn-xs border font-weight-bold text-uppercase {{item.status.cssClass}}">{{item.status.text}}</a>
            <a routerLink="{{createUrl}}/{{item.id}}" class="btn btn-xs badge-success text-white m-lg-1">Edit</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- end row -->
</div> <!-- container -->
