<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <div class="col-7 bg-danger py-1">
        <h4 class="page-title">
            <a routerLink="/" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Table List
        </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a routerLink="/dev-tools/create-table/0" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create new</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Table Name</th>
          <th>Type</th>
          <th>Status</th>
        </tr>
        </thead>


        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.table_name}}</td>
          <td> {{item.table_type}}</td>
          <td>
            <a (click)="changeStatus(item)" class="btn btn-xs btn-{{item.status.cssClass}} text-white m-lg-1">{{item.status.text}}</a>
          </td>

          </tr>

        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->
<ngx-spinner></ngx-spinner>


