<div id="wrapper">
  <app-header></app-header>
  <app-left-sidebar></app-left-sidebar>
  <div class="content-page">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
<!--  <app-right-sidebar></app-right-sidebar>-->
<!--  <app-footer></app-footer>-->
</div>
