<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between border-danger border bg-light">
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/markets/ballbyball/{{this.eid}}/{{this.sportId}}"
           class="btn btn-xs btn-light waves-effect waves-light mr-1"><i class="mdi mdi-arrow-left"></i> Back </a>Create
        ballbyball > {{this.eventname}}
      </h4>
    </div>
    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>Select team</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-users"></i>
                    </span>
                  </div>
                  <select required formControlName="sec_id" aria-describedby="emailHelp" class="form-control m-input"
                          type="select">
                    <option value="">Select Team</option>
                    <option *ngFor="let item of runnerArr; let i = index"
                            value="{{item.sec_id}}">{{item.runner}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Title</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-grip-lines"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="title" class="form-control" placeholder="enter title"
                         aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmtitle.invalid && (frmtitle.dirty || frmtitle.touched)">title
                    invalid</em>
                  <!-- <div class="show-error" *ngIf="frmEventName.invalid && (frmEventName.dirty || frmEventName.touched)">
                     Required Field!
                   </div>-->
                </div>
                <p class="form-refer-text">Title | Ex 1 to 6 over </p>
              </div>


              <div class="form-group mb-3">
                <label>Start over</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-exchange-alt"></i>
                    </span>
                  </div>
                  <input required formControlName="start_over" aria-describedby="emailHelp" class="form-control m-input"
                         id="exampleInputEventTypeName"
                         placeholder="Enter Start over" type="text">
                  <em class="show-error" *ngIf="frmStartOver.invalid && (frmStartOver.dirty || frmStartOver.touched)">End
                    over invalid</em>
                </div>
                <p class="form-refer-text">start over | Ex over 2 </p>
              </div>


              <div class="form-group mb-3">
                <label>End over</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-exchange-alt"></i>
                    </span>
                  </div>
                  <input required formControlName="end_over" aria-describedby="emailHelp" class="form-control m-input"
                         id="exampleInputMarketCount"
                         placeholder="Enter End over" type="text">
                  <em class="show-error" *ngIf="frmEndOver.invalid && (frmEndOver.dirty || frmEndOver.touched)">End over
                    invalid</em>
                </div>
                <p class="form-refer-text">start over | Ex over 2 </p>
              </div>

              <div class="form-group mb-3">
                <label>Min stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-sort-amount-down"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="minstake" value="1000" class="form-control"
                         placeholder="enter min stake" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmminstake.invalid && (frmminstake.dirty || frmminstake.touched)">min
                    stake invalid</em>
                </div>
                <p class="form-refer-text">min stake | Ex 500 </p>
              </div>


              <div class="form-group mb-3">
                <label>Max stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-sort-amount-up"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="maxstake" value="10000" class="form-control"
                         placeholder="enter max stake" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmmaxstake.invalid && (frmmaxstake.dirty || frmmaxstake.touched)">max
                    stake invalid</em>
                </div>
                <p class="form-refer-text">max stake | Ex 10000 </p>
              </div>


              <div class="form-group mb-3">
                <label>Max profit limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-chart-line"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="maxprofit" value="1000000" class="form-control"
                         placeholder="enter max profit" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmmaxprofit.invalid && (frmmaxprofit.dirty || frmmaxprofit.touched)">max
                    profit limit invalid</em>
                </div>
                <p class="form-refer-text">max profit limit | Ex 100000 </p>
              </div>

              <div class="form-group mb-3">
                <label>Bet delay</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-chart-line"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="bet_delay" value="0" class="form-control"
                         placeholder="enter bet delay" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmbetdelay.invalid && (frmbetdelay.dirty || frmbetdelay.touched)">bet
                    dekay invalid</em>
                </div>
                <p class="form-refer-text">bet delay | Ex 5 </p>
              </div>


              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">
                    submit
                  </button>
                  <a routerLink="/markets/ballbyball/{{this.eid}}/{{this.sportId}}"
                     class="btn btn-danger btn-md waves-effect waves-light">cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->
</div> <!-- container -->
<ngx-spinner></ngx-spinner>
