  <div class="login-card">
  <form action="" id="login-form" (ngSubmit)="doLogin()" class="col-lg-12">
    <div class="form-center">
    <!-- Logo -->
    <div class="col-lg-12 logo-kapsul">
      <h2>Data Management</h2>
    </div>
    <!-- #Logo Bitiş -->
    <div class="group">
      <input class="input100" type="text" name="email"  [(ngModel)]="model.email" required #email="ngModel" (focus)="errorMsg = ''" autocomplete="off">
      <span class="bar"></span>
      <label>
        <i class="fa fa-user"></i>
        <span class="span-input">Username</span>
      </label>
    </div>
    <div class="group">
      <input class="input101" type="{{passType}}" name="pass" [(ngModel)]="model.password" id="password" required #password="ngModel"  (focus)="errorMsg = ''"  autocomplete="off">

      <span class="highlight"></span>
      <span class="bar"></span>
      <label>
        <i class="fa fa-lock"></i>
        <span class="span-input">Password</span>
      </label>
      <span class="eyes">
          <i *ngIf="passType != 'password'" (click)="passType = 'password'" class="fa fa-eye"></i>
            <i *ngIf="passType == 'password'" (click)="passType = 'text'" class="fa fa-eye-slash"></i>
      </span>
    </div>
      <div class="group" *ngIf="errorMsg">
        <span class="text-red">{{errorMsg}}</span>
      </div>
<!--    <label class="checkbox">-->
<!--      <input type="checkbox" class="checkbox-custom" /> Stay Joined-->
<!--    </label>-->
    <!-- login Buton -->
      <button class="giris-yap-buton" [ngClass]="{'dis-click': !model.password || !model.email}">
<!--        <i class="fa fa-spinner fa-spin" *ngIf="submitted"></i>-->
      Login
      </button>
   <!-- <a href="dashboard.php" class="giris-yap-buton">Login</a>-->
    </div>
  </form>
</div>

