<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between">

    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/{{setUrl}}" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a> Bet Fair List - {{eventName}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables scroll-table">
      <table #dataTable class="display" style="width:100%">
      </table>
      <!--<table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>title</th>
          <th>rule</th>
          <th>action</th>
          <th>result</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.title}}</td>
          <td>{{item.info}} </td>
          <td>

            <a (click)="changetitle(item.eid, item.marketId, item, item.slug, item.sportId)" class="btn btn-xs bg-success text-light px-1 mr-1" *ngIf="item.game_over == '0' ">
              <i class="mdi mdi-square-edit-outline"></i>
            </a>
            <a  *ngIf="item.game_over == 0" (click)="changeStatus(item)" class="btn btn-xs text-white {{ item.status == 1 ? 'btn-success' : 'btn-danger' }} success mr-1">
              {{ item.status == 1 ? "Active" : "Inactive" }}
            </a>
            <a  *ngIf="item.game_over == 0" (click)="changeSuspendedStatus(item)" class="btn btn-xs text-white {{ item.suspended == '1' ? 'btn-success' : 'btn-danger' }} mr-1" title="Change Suspended Status">
											<span > Suspended : {{ item.suspended == '1' ? "Yes"
                        : "No" }}</span>
            </a>

            <a routerLink="/markets/limits/set-limits/{{item.eid}}/{{item.marketId}}/{{this.sportId}}/{{item.slug}}" *ngIf="item.game_over == '0' " class="btn btn-xs bg-dark text-light">
              Setting
            </a>

          </td>
          <td>
            <div class="mb-1">
              <a (click)="gameOver(item.eid, item.marketId, item.runners,item.slug, item.sid, item.title)" *ngIf="item.game_over == '0' && user.role != 7" class="btn btn-xs border border-dark text-dark text-uppercase mr-1">Game Over</a>

              <a *ngIf="item.game_over == '0' && user.role != 7" (click)="abundant(item.eid, item.marketId,item.slug, item.sid, item.title)" class="btn btn-xs border border-dark text-dark text-uppercase mr-1">abundant</a>

              <a *ngIf="item.game_over == '1' && user.role != 7" (click)="gameRecall(item.marketId,item, item.eid,item.slug)"  class="btn btn-xs border border-dark text-dark text-uppercase mr-1">game recall</a>

              <a *ngIf="item.game_over == '1'"  class="btn btn-xs border border-dark text-dark text-uppercase">result : {{item.result}}</a>

            </div>
          </td>

        </tr>

        <tr *ngIf="errorMsg !=''" >
          <td>{{errorMsg}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        </tbody>
      </table>-->
    </div>
  </div>
  <!-- end row -->
</div> <!-- container -->
<ngx-spinner></ngx-spinner>


