<!-- Start Content-->
<script
  src="../../../../../../projects/development/src/app/theme/pages/default/events/cricket/create-new-event/index.component.ts"></script>
<div class="container-fluid">

  <div class="row justify-content-center bg-light border border-danger">

    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/casino/casino-list" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Create New Event
      </h4>
    </div>

    <div class="col-12 ctm-form">

      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>event name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="event_name" class="form-control" placeholder="enter event name" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmEventName.invalid && (frmEventName.dirty || frmEventName.touched)">event name invalid</em>
                 <!-- <div class="show-error" *ngIf="frmEventName.invalid && (frmEventName.dirty || frmEventName.touched)">
                    Required Field!
                  </div>-->
                </div>



                <p class="form-refer-text">Event Name | Ex Test 1 vs Test 2</p>
              </div>

              <div class="form-group mb-3">
                <label>Event League</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="event_league" class="form-control" placeholder="enter event league" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmEventLeague.invalid && (frmEventLeague.dirty || frmEventLeague.touched)">Event league invalid</em>
                </div>
                <p class="form-refer-text">Event League | Ex T20 IPL</p>
              </div>


              <div class="form-group mb-3">
                <label>Event Time </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="event_time" class="form-control" placeholder="enter event time" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmEventTime.invalid && (frmEventTime.dirty || frmEventTime.touched)">event time invalid</em>
                </div>
                <p class="form-refer-text">Event Time | Ex: 1565347441 , See url for Example ( https://www.epochconverter.com/ ) </p>
              </div>


              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <a routerLink="/events/casino/casino-list" class="btn btn-danger btn-md waves-effect waves-light"><i class="mdi mdi-arrow-left"></i> cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->



  </div> <!-- container -->
