<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-12 py-1 bg-danger mb-1">
      <h4 class="page-title">
        <a routerLink="/" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a> Add Event
      </h4>
    </div>

    <div class="col-xl-12">
      <div class="panel-group add-event-ui" id="accordion">

        <div class="panel panel-default" id="panel1" *ngFor="let sportItem of sportList; let sIndex = index;">
          <div class="panel-heading">
            <h4 class="panel-title pt-main">
              <a data-toggle="collapse" data-target="#{{sportItem?.name}}" (click)="getSportEvents(sportItem?.sportId, sportItem?.slug)" href="#{{sportItem?.name}}">
                {{sportItem?.name}}
              </a>
            </h4>
          </div>
          <div [id]="sportItem?.name" class="panel-collapse collapse in">
            <div class="panel-body" *ngIf="eventsList[sportItem?.slug]">

              <div *ngFor="let item of eventsList[sportItem?.slug]; let i = index;" class="panel panel-default" id="panel-c-{{i}}">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-target="#{{sportItem?.name}}-{{i}}" href="#{{sportItem?.name}}-{{i}}">
                      {{item.name}}
                    </a>
                  </h4>
                </div>
                <div id="{{sportItem?.name}}-{{i}}" class="panel-collapse collapse in">
                  <div class="panel-body">
                    <div class="panel-body" *ngFor="let item2 of item.eventsList; let c = index;">
                      <button (click)="changeStatus(item2, sportItem?.sportId, sportItem?.slug)" class="btn btn-success btn-xs waves-effect waves-light mb-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Block"><i class="mdi mdi-plus"></i></button>
                      <span> {{item2.event_name}} ==> {{item2.event_date}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="!eventsList[sportItem?.slug].length" class="panel panel-default" id="panel-c-">
                <div class="panel-heading">
                  <h4 class="panel-title text-center">
                    <a>
                      No data Available
                    </a>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- triview -->
     <!-- <ul id="triview">
        <li class="first-triview">
            <span *ngIf="cricket?.length != 0" class="caret">
                <p>Cricket</p>
            </span>

          <span *ngIf="cricket?.length === 0" class="caret" (click)="eventCricketData(4)">
                <p>Cricket</p>
            </span>
          <ul class="nested">
            <li class="second-triview" *ngFor="let item of cricket; let i = index;">
              <span class="caret">{{item.name}}</span>
              <ul class="nested">
                <li class="fourth-triview" *ngFor="let item2 of item.eventsList; let c = index;">
                      <button (click)="changeStatus(item2)" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Block"><i class="mdi mdi-plus"></i></button>
                      <span> {{item2.event_name}} ==> {{item2.event_date}}</span>
                </li>
              </ul>
            </li>

          </ul>
        </li>
      </ul>-->

   <!--   <ul id="triview">
        <li class="first-triview">
                <span *ngIf="football?.length != 0" class="caret">
                    <p>football</p>
                </span>

          <span *ngIf="football?.length === 0" class="caret" (click)="eventFootballData(1)">
          <p>football</p>
          </span>
          <ul class="nested">
            <li class="second-triview" *ngFor="let itemfootball of football; let f = index;">
              <span class="caret">{{itemfootball.name}}</span>
              <ul class="nested">
                <li class="fourth-triview" *ngFor="let itemF2 of itemfootball.eventsList; let ff = index;">
                  <button (click)="changeStatus(itemF2)" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Block"><i class="mdi mdi-check"></i></button>
                  <span> {{itemF2.event_name}} ==> {{itemF2.event_date}}</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>-->

    <!--  <ul id="triview">
        <li class="first-triview">
            <span *ngIf="tennies?.length != 0" class="caret">
                <p>tennis</p>
            </span>

          <span *ngIf="tennies?.length === 0" class="caret" (click)="eventTenniesData(2)">
                <p>tennis</p>
            </span>
          <ul class="nested">
            <li class="second-triview" *ngFor="let itemtennies of tennies; let t = index;">
              <span class="caret">{{itemtennies.name}}</span>
              <ul class="nested">
                <li class="fourth-triview" *ngFor="let itemt2 of itemtennies.eventsList; let tt = index;">
                  <button (click)="changeStatus(itemt2)" class="btn btn-success btn-xs waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="" data-original-title="Block"><i class="mdi mdi-check"></i></button>
                  <span> {{itemt2.event_name}} ==> {{itemt2.event_date}}</span>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>-->
      <!-- triview -->

    </div>
  </div>
  <!-- end row -->
</div> <!-- container -->
<ngx-spinner></ngx-spinner>
<!--<ngx-spinner name="sp2" [fullScreen]="false" type="ball-fussion" size="medium"></ngx-spinner>-->
