<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-4 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/{{setUrl}}" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i
          class="mdi mdi-arrow-left"></i> Back </a> Ballbyball > {{eventName}}
      </h4>
    </div>

    <div class="col-4 text-right bg-danger py-1">
      <select style="width: 50%;" class="form-control m-bootstrap-select--solid" name="filter_status"
              [(ngModel)]="SelectedId"
              (change)="applyFilters()">
        <option value="All"> All</option>
        <option *ngFor="let item of rList" value="{{item.secId}}">{{item.runner}}</option>
      </select>
    </div>

    <div class="col-4 text-right bg-danger py-1">
      <a routerLink="/markets/ballbyball/create-ballbyball/{{this.id}}/{{this.sportId}}" *ngIf="user.role != 7"
         class="btn btn-xs btn-light font-weight-bold text-uppercase">Create new</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table #dataTable class="display" style="width:100%">
      </table>
      <!--
      <table datatable id="ballbyball-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>title</th>
          <th>team</th>
          <th>over</th>
          <th>ball</th>
          <th>rule</th>
          <th>action</th>
          <th>result</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.title}}</td>
          <td>{{item.team}}</td>
          <td>{{item.over}}</td>
          <td>{{item.ball}}</td>
          <td>{{item.info}} </td>
          <td>
            <a (click)="changetitle(item.eid, item.marketId, item.title,item.info)"
               class="btn btn-xs bg-success text-light px-1 mr-1" *ngIf="item.game_over == '0' ">
              <i class="mdi mdi-square-edit-outline"></i>
            </a>
            <a routerLink="/markets/ballbyball/update-ballbyball/{{this.id}}/{{this.sportId}}/{{item.marketId}}"
               target="_blank" *ngIf="item.game_over == '0' " class="btn btn-xs bg-dark text-light mr-1">
              Edit
            </a>
            <a *ngIf="item.game_over == 0" (click)="changeStatus(item)"
               class="btn btn-xs btn-dark text-light {{ item.status == 1 ? 'btn-success' : 'btn-danger' }} success mr-1">
              {{ item.status == 1 ? "Active" : "Inactive" }}
            </a>
            <a routerLink="/markets/limits/set-limits/{{item.eid}}/{{item.marketId}}/{{this.sportId}}/ballbyball"
               *ngIf="item.game_over == '0' " class="btn btn-xs btn-dark text-light mr-1">
              Setting
            </a>
          </td>
          <td>
            <div class="mb-1">
              <a (click)="gameOver(item.eid, item.marketId, item,'ballbyball', item.sid)"
                 *ngIf="item.game_over == '0' && user.role != 7"
                 class="btn btn-xs border border-dark text-dark text-uppercase mr-1">Game Over</a>
              <a *ngIf="item.game_over == '0' && user.role != 7"
                 (click)="abundant(item.eid, item.marketId,'ballbyball', item.sid, item.title)"
                 class="btn btn-xs border border-dark text-dark text-uppercase mr-1">abundant</a>
              <a *ngIf="item.game_over == '1' && user.role != 7" (click)="gameRecall(item.marketId,item, item.eid)"
                 class="btn btn-xs border border-dark text-dark text-uppercase mr-1">game recall</a>
              <a *ngIf="item.game_over == '1'" class="btn btn-xs border border-dark text-dark text-uppercase">result
                : {{item.result}}</a>
            </div>
          </td>
        </tr>

        <tr *ngIf="errorMsg !=''">
          <td>{{errorMsg}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table> -->
    </div>
  </div>
  <!-- end row -->

</div> <!-- container -->

<ngx-spinner></ngx-spinner>

