<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/{{setUrl}}" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a> Other Market > {{eventName}}
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a href="#" class="btn btn-xs btn-light font-weight-bold text-uppercase mr-1" *ngIf="user.role != 7" data-toggle="modal" data-target="#import-files">Import CSV</a>
      <a routerLink="/markets/single-fancy/create-single-fancy/{{this.id}}/{{this.sportId}}" *ngIf="user.role != 7" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create new</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables scroll-table">
      <table #dataTable class="display" style="width:100%">
      </table>

   <!--   <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>title</th>
          <th>rule</th>
          <th>action</th>
          <th>result</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.title}}</td>
          <td>{{item.info}} </td>
          <td>
            <a (click)="changetitle(item.eid, item.marketId, item,'fancy3', item.sid)" class="btn btn-xs bg-success text-light px-1 mr-1" *ngIf="item.game_over == '0' ">
              <i class="mdi mdi-square-edit-outline"></i>
            </a>
            <a routerLink="/markets/single-fancy/update-single-fancy/{{this.id}}/{{this.sportId}}/{{item.marketId}}" target="_blank" *ngIf="item.game_over == '0' " class="btn btn-xs bg-dark text-light mr-1">
              Edit
            </a>
            <a  *ngIf="item.game_over == 0" (click)="changeStatus(item)" class="btn btn-xs btn-dark text-light {{ item.status == 1 ? 'btn-success' : 'btn-danger' }} mr-1">
              {{ item.status == 1 ? "Active" : "Inactive" }}
            </a>
            <a routerLink="/markets/limits/set-limits/{{item.eid}}/{{item.marketId}}/{{this.sportId}}/fancy3" *ngIf="item.game_over == '0' " class="btn btn-xs bg-dark text-light">
              Setting
            </a>
          </td>
          <td>
            <div class="mb-1">
              <a (click)="gameOver(item.eid, item.marketId, item,'fancy3', item.sid)" *ngIf="item.game_over == '0' && user.role != 7" class="btn btn-xs border border-dark text-dark text-uppercase mr-1">Game Over</a>
              <a *ngIf="item.game_over == '0' && user.role != 7"  (click)="abundant(item.eid, item.marketId,'fancy3', item.sid, item.title)" class="btn btn-xs border border-dark text-dark text-uppercase mr-1">abundant</a>
              <a *ngIf="item.game_over == '1' && user.role != 7" (click)="gameRecall(item.marketId,item, item.eid)"  class="btn btn-xs border border-dark text-dark text-uppercase mr-1">game recall</a>
              <a *ngIf="item.game_over == '1'"  class="btn btn-xs border border-dark text-dark text-uppercase">result : {{item.result}}</a>
            </div>
          </td>
        </tr>
        <tr *ngIf="errorMsg !=''" >
          <td>{{errorMsg}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table> -->
    </div>
  </div>
  <!-- end row -->


</div> <!-- container -->
<div class="modal fade ctm-model-design" id="import-files">
  <!--modal popup end-->

  <div class="modal-dialog modal-ui">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-capitalize">Fancy CSV/XLS File Import <b></b></h4>
        <button class="btn btn-light border-0 font-weight-bold" id="close-modal" type="button" data-dismiss="modal" aria-hidden="true">X</button>
      </div>
      <div class="modal-body container">
        <form (ngSubmit)="submitForm()"   class="form-ui m-form m-form--fit m-form--label-align-right" id="frmUploadXls">
          <div class="m-portlet__body">
            <div class="form-group m-form__group">
              <h3>Upload File</h3>

              <div class="bg-light py-1">
                <input maxlength="50" class="border-0 px-2 bg-light" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" type="file">
              </div>

              <div class="form-control-feedback" *ngIf="file?.name"><strong>Selected File : {{file.name}}</strong></div>
              <div class="form-control-feedback" *ngIf="fileError">{{fileError}}</div>
              <p class="text-dark font-weight-bold m-0 text-center">
                File upload | Ex xyz ( Note : Upload limit is 50 Records! )
              </p>
              <span class="text-danger text-center" *ngIf="errorMsg != ''" class="m-form__help">
								Error : {{errorMsg}}
							</span>
              <span class="text-capitalize d-block text-center">
								<a class="text-success font-weight-bold" href="http://api3-session.dbm9.com/upload/CreateSession.xlsx">Download Sample File!</a>
							</span>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-danger font-weight-bold text-uppercase" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>


