<!-- Start Content-->
<!--<script-->
<!--  src="../../../../../../projects/development/src/app/theme/pages/default/events/cricket/create-new-event/index.component.ts"></script>-->
<div class="container-fluid">

  <div class="row justify-content-between border-danger border bg-light">

    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/sport" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i
          class="mdi mdi-arrow-left"></i> Back </a>Create sport
      </h4>
    </div>

    <div class="col-xl-12 ctm-form">

      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>sport name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-running"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="sport_name" class="form-control"
                         placeholder="enter sport name" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmSportName.invalid && (frmSportName.dirty || frmSportName.touched)">sport
                    name invalide</em>
                  <!-- <div class="show-error" *ngIf="frmEventName.invalid && (frmEventName.dirty || frmEventName.touched)">
                     Required Field!
                   </div>-->
                </div>
                <p class="form-refer-text">Sport Name | Ex Cricket</p>
              </div>

              <div class="form-group mb-3">
                <label>sport ID</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-stream"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="sport_id" class="form-control"
                         placeholder="enter sport ID" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmSportId.invalid && (frmSportId.dirty || frmSportId.touched)">sport ID
                    invalide</em>
                </div>
                <p class="form-refer-text">Sport ID | Ex 4</p>
              </div>

              <div class="form-group mb-3">
                <label>overall profit limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-signal"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="overall_profit_limit" class="form-control"
                         placeholder="enter overall profit limit" aria-label="" aria-describedby="">
                  <em class="show-error"
                      *ngIf="frmOverall_profit_limit.invalid && (frmOverall_profit_limit.dirty || frmOverall_profit_limit.touched)">overall
                    profit limit invalide</em>
                </div>
                <p class="form-refer-text">overall profit limit | Ex 100000</p>
              </div>


              <div class="form-group mb-3">
                <label>bet delay</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-clock"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="bet_delay" class="form-control"
                         placeholder="enter bet delay" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmBetDelay.invalid && (frmBetDelay.dirty || frmBetDelay.touched)">bet_delay
                    invalide</em>
                </div>
                <p class="form-refer-text">bet_delay | Ex 5</p>
              </div>


              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">
                    submit
                  </button>
                  <a routerLink="/sport" class="btn btn-danger btn-md waves-effect waves-light">cancel</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->
