<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <div class="col-7 bg-danger py-1">
        <h4 class="page-title">
            <a routerLink="/" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Rules List
        </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a routerLink="/rules/create-rules/0" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create new</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Category</th>
          <th>Sport</th>
          <th>Rule</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>


        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.sub_category}}</td>
          <td> {{item.categoryname}}</td>
          <td style="white-space: pre-line">{{item.rule}}</td>
          <td>
            <a (click)="changeStatus(item)" class="btn-xs btn-{{item.status.cssClass}} text-light">{{item.status.text}}</a>
          </td>
          <td>
            <a routerLink="/rules/create-rules/{{item.id}}"  class="btn btn-xs badge-success text-white m-lg-1">Edit</a>
          </td>
          </tr>

        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->
<ngx-spinner></ngx-spinner>


