<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-center bg-light border border-danger">
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/markets/virtual-session/{{this.eid}}/{{this.sportId}}" class="btn btn-xs btn-light waves-effect waves-light mr-1"><i class="mdi mdi-arrow-left"></i> Back </a>Create virtual cricket > {{this.eventname}}
      </h4>
    </div>
    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>Title</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-grip-lines"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="title" class="form-control" placeholder="enter title" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmtitle.invalid && (frmtitle.dirty || frmtitle.touched)">title invalid</em>
                </div>
                <p class="form-refer-text">Title | Ex T1 Vs T2 </p>
              </div>

              <div class="form-group mb-3">
                <label>Runner 1 </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="runner" class="form-control" placeholder="enter Runner 1" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmrunner.invalid && (frmrunner.dirty || frmrunner.touched)">title invalid</em>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Runner 2 </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="runner2" class="form-control" placeholder="enter Runner 2" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmrunner2.invalid && (frmrunner2.dirty || frmrunner2.touched)">title invalid</em>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Other  </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="far fa-user"></i>
                    </span>
                  </div>
                  <input type="text" formControlName="runner3" class="form-control" placeholder="enter Runner 3" aria-label="" aria-describedby="">

                </div>
              </div>

              <div class="form-group mb-3">
                <label>Min stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-sort-amount-down"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="minstake" value="1000" class="form-control" placeholder="enter min stake" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmminstake.invalid && (frmminstake.dirty || frmminstake.touched)">min stake invalid</em>
                </div>
                <p class="form-refer-text">min stake | Ex 500 </p>
              </div>


              <div class="form-group mb-3">
                <label>Max stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-sort-amount-up"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="maxstake" value="10000" class="form-control" placeholder="enter max stake" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmmaxstake.invalid && (frmmaxstake.dirty || frmmaxstake.touched)">max stake invalid</em>
                </div>
                <p class="form-refer-text">max stake | Ex 10000 </p>
              </div>


              <div class="form-group mb-3">
                <label>Max profit limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-chart-line"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="maxprofit" value="1000000" class="form-control" placeholder="enter max profit" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmmaxprofit.invalid && (frmmaxprofit.dirty || frmmaxprofit.touched)">max profit limit invalid</em>
                </div>
                <p class="form-refer-text">max profit limit | Ex 100000 </p>
              </div>

              <div class="form-group mb-3">
                <label>Bet delay</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-chart-line"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="bet_delay" value="0" class="form-control" placeholder="enter bet delay" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmbetdelay.invalid && (frmbetdelay.dirty || frmbetdelay.touched)">bet dekay invalid</em>
                </div>
                <p class="form-refer-text">bet delay | Ex 5 </p>
              </div>
              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <a routerLink="/markets/virtual-session/{{this.eid}}/{{this.sportId}}" class="btn btn-danger btn-md waves-effect waves-light">cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
  </div> <!-- container -->
<ngx-spinner></ngx-spinner>
