<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-center bg-light border-danger border">
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/markets/jackpot/{{this.id}}/jackpot-data/{{this.mid}}"
           class="btn btn-xs btn-light waves-effect waves-light mr-1"><i class="mdi mdi-arrow-left"></i> Back </a>Add
        runners
      </h4>
    </div>
    <div class="col-xl-12 ctm-form">

      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>Team A</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <select required formControlName="team_a" aria-describedby="emailHelp" class="form-control"
                          type="select">
                    <option value="">Select Team</option>
                    <option value="{{runner1}}">{{runner1}}</option>
                    <option value="{{runner2}}">{{runner2}}</option>
                  </select>
                  <div class="form-control-feedback" *ngIf="frmTeamA.invalid && (frmTeamA.dirty || frmTeamA.touched)">

                  </div>
                  <!--<p class="form-refer-text">Title | Team A</p>-->
                </div>

              </div>

              <div class="form-group mb-3">
                <label>Team A Player </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="team_a_player" class="form-control"
                         placeholder="enter Runner 1" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmrunnerA.invalid && (frmrunnerA.dirty || frmrunnerA.touched)">title
                    invalid</em>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Team B </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <select required formControlName="team_b" aria-describedby="emailHelp" class="form-control"
                          type="select">
                    <option value="">Select Team</option>
                    <option value="{{runner1}}">{{runner1}}</option>
                    <option value="{{runner2}}">{{runner2}}</option>
                  </select>
                  <div class="form-control-feedback" *ngIf="frmTeamB.invalid && (frmTeamB.dirty || frmTeamB.touched)">

                  </div>
                  <!-- <span class="m-form__help">
                       Team B | Ex India
                     </span>-->
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Team B Player </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" formControlName="team_b_player" class="form-control" placeholder="enter Runner 3"
                         aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmrunnerB.invalid && (frmrunnerB.dirty || frmrunnerB.touched)">title
                    invalid</em>
                </div>
              </div>

              <div class="form-group mb-3">
                <label>Rate</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-rupee-sign"></i>
                    </span>
                  </div>
                  <input type="text" formControlName="rate" class="form-control" placeholder="enter rate" aria-label=""
                         aria-describedby="">
                  <em class="show-error" *ngIf="frmrate.invalid && (frmrate.dirty || frmrate.touched)">title
                    invalid</em>
                </div>
              </div>


              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">
                    submit
                  </button>
                  <a routerLink="/markets/jackpot/{{this.id}}/jackpot-data/{{this.mid}}"
                     class="btn btn-danger btn-md waves-effect waves-light">cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->
</div> <!-- container -->
