<div class="left-side-menu">
  <div class="slimscroll-menu">
    <!-- User box -->
    <div class="user-box text-center" *ngIf="user?.role === 1">
      <div class="checkbox checkbox-primary mb-2">
        <h5 class="text-white">Online User <small><i class="mdi mdi-account-group text-danger"></i></small></h5>
        <button class="btn border border-light font-weight-bold px-1">{{onLineClient}}</button>
        <button (click)="allUserLogout()"
                class="btn btn-danger waves-effect waves-light font-weight-bold text-uppercase px-2">Logout All<i
          class="mdi mdi-logout"></i></button>
      </div>
    </div>


    <div id="sidebar-menu">
      <ul *ngIf="mainMenuList" class="metismenu" id="side-menu">
        <li *ngFor="let item of mainMenuList" class="activemenu">
          <!-- must be add in below anchor tag on active : class="active" -->
          <!-- <a class="mainmenuother" (click)="changeClass(2)" routerLink="{{'/'+ item.url}}" *ngIf="item.title !== 'Users'">
            <img class="img-fluid" src="assets/img/icons/{{item.icon}}" alt="icons">
            <span> {{item.title}} </span>
            <span *ngIf="item.child != '0'" class="menu-arrow"></span>
          </a>-->

          <a class="activemenu" *ngIf="item.title !== 'Sport' && user.role !== 1" routerLink="{{'/'+ item.url}}"
             (click)="changeClass(2, item.title,item.id,user.role)" id="{{item.id}}">
            <i class="fa fa-circle"></i>
            <span> {{item.title}} </span>
            <span *ngIf="item.child != '0'" class="menu-arrow"></span>
          </a>

          <a class="activemenu" *ngIf="item.title === 'Sport' && user.role === 1" routerLink="{{'/'+ item.url}}"
             (click)="changeClass(2, item.title,item.id,user.role)" id="{{item.id}}">
            <i class="fa fa-circle"></i>
            <span> {{item.title}} </span>
            <span *ngIf="item.child != '0'" class="menu-arrow"></span>
          </a>

          <a class="activemenu" *ngIf="item.title !== 'Sport' && user.role === 1" routerLink="{{'/'+ item.url}}"
             (click)="changeClass(2, item.title,item.id,user.role)" id="{{item.id}}">
            <i class="fa fa-circle"></i>
            <span> {{item.title}} </span>
            <span *ngIf="item.child != '0'" class="menu-arrow"></span>
          </a>

          <ul *ngIf="item.child != '0'" class="nav-second-level" aria-expanded="false">
            <li *ngFor="let item2 of item.child;" (click)="changeSubClass(item2.id)" id="{{item2.id}}"
                class="inActivegroup"
                [ngClass]="{ 'activesubmenu1':  item2.title === 'Super Admin','activesubmenu': item2.title === 'Session User' }">
              <a routerLink="{{'/'+ item2.url}}">
                <i class="fa fa-circle"></i>
                {{item2.title}}</a>
            </li>
          </ul>
        </li>


      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

