<!-- Start Content-->
<div class="container-fluid">

  <!-- breadcrumb -->
  <div class="row">
    <div class="col-12">
      <div class="marquee-text">
        <marquee class="marquee">content here check all content from here</marquee>
      </div>
    </div>
  </div>
  <div class="row align-items-center py-1">

    <div class="col-md-6">
      <h4 class="page-title">
        <a routerLink="/" class="btn btn-xs btn-danger waves-effect waves-light mr-1"><i class="mdi mdi-arrow-left"></i> Back </a> Cricket list
      </h4>
    </div>

    <div class="col-md-6">
      <div class="page-title-box">
        <div class="page-title-right">
          <ol class="breadcrumb m-0 align-items-center">
            <li class="breadcrumb-item">
              <a href=""><i class="mdi mdi-home"></i></a>
            </li>
            <li class="breadcrumb-item">
              <a routerLink="/">Home</a>
            </li>
            <li class="breadcrumb-item active">
              <a routerLink="/events/cricket/inplay/">Cricket list</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb -->


  <div class="row justify-content-between mt-1">
    <div class="col-12 mb-xl-2 text-right">
      <a routerLink="/events/cricket/create-new-event" class="btn btn-success font-weight-bold text-uppercase">Create new</a>
    </div>
    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>event name</th>
          <th>type</th>
          <th>date & time</th>
          <th>market</th>
          <th>action</th>
          <th>result</th>
        </tr>
        </thead>


        <tbody>
       <!-- <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.sport_name}}</td>
          <td>All Max Profit Limit : {{item.overall_profit_limit}}<br>
            Bet Delay : {{item.bet_delay}}
          </td>
          <td> {{item.overall_profit_limit}} Bet Delay : {{item.bet_delay}}
          </td>
          <td>
            <a (click)="changeStatus(item)" class="btn btn-xs btn-white border text-success  border-success">{{item.status.text}}</a>
          </td>

          <td>
            <a (click)="changeStatus(item)" class="btn btn-xs btn-white border text-success  border-success">{{item.status.text}}</a>
          </td>

        </tr>-->

        <tr *ngFor="let item of eventList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.name}}</td>
          <td>
            <a href="" class="btn btn-xs btn-success text-white border border-success btn-inplay">{{item.type}}</a>
          </td>
          <td>
            {{item?.time | date:'medium'}}
          </td>
          <td class="text-left">
            <div >
              <span class="m-lg-1"   *ngFor="let item2 of marketList; let b = index;">
              <a routerLink="{{item2.url}}/{{item.eventId}}/{{item.sportId}}" class="btn btn-xs btn-light border border-success text-success text-uppercase mb-1" target="_blank">{{item2.slug}}</a>
           </span>
            </div>
          </td>
          <td>
           <!-- <button class="btn btn-xs btn-success text-uppercase m-lg-1  mb-1">active</button>-->
            <!-- <button class="btn btn-xs btn-white border border-danger text-danger text-uppercase">inactive</button> -->
            <!-- <a href="game-setting.php" class="btn btn-xs btn-light border border-success text-success text-uppercase  mb-1" target="_blank">setting</a> -->

            <span class="m-lg-1"   *ngFor="let item3 of actionBtnList; let c = index;">
                <a routerLink="{{item3.url}}/{{item.eventId}}" class="btn btn-xs btn-light text-success border border-success text-uppercase  mb-1">{{item3.slug}}</a>
            </span>
          </td>
          <td>

            <span class="m-lg-1"   *ngFor="let item4 of actionRsList; let d = index;">
                <a routerLink="{{item4.url}}/{{item.eventId}}" class="btn btn-xs btn-light text-success border border-success text-uppercase  mb-1">{{item4.slug}}</a>
            </span>
          <!--  <a href="#" class="btn btn-xs btn-danger text-white text-uppercase">closed</a>-->

          </td>

        </tr>


     <!--  <tr>
         <td>1</td>
         <td>raj Election 2019</td>
         <td>
           <a href="" class="btn btn-xs btn-white text-danger border border-danger btn-closed">closed</a>
         </td>
         <td>
           Sep 30, 2019, 4:29:56 PM
         </td>
         <td class="text-left">
           <div class="mb-1">
             <button class="btn btn-xs btn-light border border-success text-success text-uppercase">manual session</button>
           </div>
           <div>
             <button class="btn btn-xs btn-light border border-success text-success text-uppercase">book maker</button>
             <button class="btn btn-xs btn-light border border-success text-success text-uppercase">single fancy</button>
           </div>
         </td>
         <td>
          <button class="btn btn-xs btn-white border border-danger text-danger text-uppercase">inactive</button>
           <a href="game-setting.php" class="btn btn-xs btn-light border border-success text-success text-uppercase" target="_blank">setting</a>
         </td>
         <td>
           <a href="#" class="btn btn-xs btn-light text-danger border border-danger text-uppercase">abundant</a>
         </td>
       </tr>-->

        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->



