<!-- Topbar Start -->
<div class="navbar-custom">
  <ul class="list-unstyled topnav-menu float-right mb-0">

   <!-- <li class="dropdown notification-list mr-1">
      <a href="" class="nav-link right-bar-toggle waves-effect waves-light balance" alt="LOGOUT">
        <span>Balance</span>
        <h6><i class="mdi mdi-currency-inr noti-icon"></i><small>10,000,00</small></h6>
      </a>
    </li>
    <li class="dropdown notification-list">
      <a href="" class="nav-link right-bar-toggle waves-effect waves-light balance" alt="LOGOUT">
        <span>P/L</span>
        <h6><i class="mdi mdi-currency-inr noti-icon"></i><small>5,000,00</small></h6>
      </a>
    </li>-->

    <li class="dropdown notification-list">
      <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">

        <span class="noti-number ng-star-inserted" *ngIf="activityLogCount > '0'">{{activityLogCount}}</span>
        <img src="assets/img/icons/profile-default.png" alt="user-image" class="rounded-circle">

        <span *ngIf="username" class="pro-user-name ml-1">
            {{username}} <i class="mdi mdi-chevron-down"></i>
        </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
        <!-- item-->
        <div class="dropdown-header noti-title" *ngIf="this.role == 1">
          <h6 class="text-overflow m-0">Welcome !</h6>
        </div>

        <hr class="m-0">

        <!-- item-->
      <!--  <a href="javascript:void(0);" class="dropdown-item notify-item">
          <i class="mdi mdi-account"></i>
          <span>Client List</span>
        </a>-->

        <!-- item-->
        <a routerLink="/setting/manage" class="dropdown-item notify-item" *ngIf="this.role == 1">
          <i class="mdi mdi-settings"></i>
          <span>Settings</span>
        </a>

        <a *ngIf="this.role == 1" routerLink="/reports/activity-log" class="dropdown-item notify-item">
          <i class="fa fa-bell"></i>
          <span>Activity Log <span class="text-red" *ngIf="activityLogCount > '0'">({{activityLogCount}})</span></span>
        </a>

       <!-- <a routerLink="/dev-tools" class="dropdown-item notify-item" *ngIf="this.role == 1">
          <i class="mdi mdi-account"></i>
          <span>Dev Tools</span>
        </a>-->

        <a routerLink="/setting/game-setting/99" target="_blank" class="dropdown-item notify-item" *ngIf="this.role == 1">
          <i class="mdi mdi-settings"></i>
          <span>Live Game Settings</span>
        </a>

        <a routerLink="/setting/game-setting/999" target="_blank" class="dropdown-item notify-item" *ngIf="this.role == 1">
          <i class="mdi mdi-settings"></i>
          <span>Live Game 2 Settings</span>
        </a>

        <!-- item-->
        <a routerLink="/users/reset-password/{{id}}" class="dropdown-item notify-item" *ngIf="this.role == 1">
          <i class="mdi mdi-lock"></i>
          <span>Change Password</span>
        </a>

        <!-- item-->
        <a (click)="logout()" class="dropdown-item notify-item logout-menu">
          <i class="mdi mdi-log-out"></i>
          <span>Logout</span>
        </a>

      </div>
    </li>

    <!--  <li class="dropdown notification-list">
         <a href="javascript:void(0);" class="nav-link right-bar-toggle waves-effect waves-light">
             <i class="fe-settings noti-icon"></i>
         </a>
     </li> -->

  </ul>

  <!-- LOGO -->
  <div class="logo-box">
    <a routerLink="/" class="logo text-center">
      <h4 class="logo-name">Data Management</h4>
    </a>
  </div>

  <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
    <li>
      <button class="button-menu-mobile waves-effect waves-light" (click)="onOpenLeftMenu($event)" >
        <i class="mdi mdi-menu"></i>
      </button>
    </li>
  </ul>
</div>
<!-- end Topbar -->
