<!-- Start Content-->
<div class="container-fluid">

  <!-- end page title -->
  <div class="row">

    <div class="col-xl-6">

      <div class="mb-3 border border-bottom border-top-0 border-dark manual-session-ui">

        <h5 class="text-light text-capitalize bg-dark p-2 m-0">
          <b>Virtual cricket market :  {{fList.title}} </b>
        </h5>
        <div class="p-1" *ngIf="fList.game_over==0">
          <div class="p-2 bg-white" >
            <div class="tab-content">
              <div class="row">
                <div class="col-12">
                  <form [formGroup]="frm" (keydown.enter)="getFormData()" class="updatebookmaker">
                    <div class="form-row align-items-center">
                      <div class="col-md-3 col-6">
                        <span>&nbsp;</span>
                        <div class="input-group"> <!--[(ngModel)]="diffrance"-->
                          <div class="input-group-prepend">
                            <a class="btn text-capitalize text-light" [ngClass]="{'btn-danger':  fList.suspended == 0, 'btn-success':  fList.suspended == 1}" (click)="suspended();">suspended</a>
                          </div>
                        </div>
                        <small>&nbsp;</small>
                      </div>


                      <div class="col-md-3 col-6" *ngFor="let team of fList.runners;  let b = index;">
                        <span> {{team?.runner}}</span>
                        <input *ngIf="b==0" autocomplete="off" type="text" autofocus required formControlName="back"  pattern="\d*" maxlength="6" (input)="limit($event, team?.secId);" aria-describedby="emailHelp" class="form-control m-input" id="no_run"
                               placeholder="Back" >

                        <input *ngIf="b==1" autocomplete="off" type="text" autofocus required formControlName="back1"  pattern="\d*" maxlength="6" (input)="limit($event, team?.secId);" aria-describedby="emailHelp" class="form-control m-input" id="no_run_1"
                               placeholder="Back" >

                        <input *ngIf="b==2" autocomplete="off"  type="text" autofocus required formControlName="back2"  pattern="\d*" maxlength="6" (input)="limit($event, team?.secId);" aria-describedby="emailHelp" class="form-control m-input" id="no_run_2"
                               placeholder="Back" >
                        <small>price | ex: 5</small>
                      </div>


                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="card-body">

                  <div class="py-1 row justify-content-end align-items-center mb-1 bg-light align-center">
                    <div class="col-6 text-right">
                      <div class="button-list">
                        <button class="btn btn-dark btn-xs odd-btn  font-weight-bold">Back</button>
                        <button class="btn btn-dark btn-xs odd-btn font-weight-bold">Lay</button>
                      </div>
                    </div>
                  </div>

                  <div class="row justify-content-between align-items-center border-bottom border-light pb-1" *ngFor="let irunner of fList?.runners; let index = index">
                    <div class="col-4 text-left">
                      <p class="m-0 bm-title">{{irunner.runner}}</p>
                    </div>
                    <div class="col-2 text-right">
                      <!-- <span class="bg-danger border-round text-light btn-xs">1250</span> -->
                      <span class="border-round text-light btn-xs" [ngClass]="{'bg-success' : bookList[index].profitLoss >= 0, 'bg-danger' : bookList[index].profitLoss < 0 }">{{bookList[index].profitLoss}}</span>
                    </div>
                    <div class="col-6 text-right">
                      <div class="suspended-div">

                        <div class="button-list">

                          <button class="btn btn-back odd-btn mt-1">
                            <p class="m-0 font-weight-bold" *ngIf="irunner.back != undefined">
                              {{irunner?.back}}
                            </p>
                            <p class="m-0 font-weight-bold" *ngIf="irunner.back == undefined">
                             0
                            </p>
                          </button>

                          <button class="btn btn-lay odd-btn mt-1">
                            <p class="m-0 font-weight-bold" *ngIf="irunner.lay != undefined">
                              {{irunner?.lay}}
                            </p>
                            <p class="m-0 font-weight-bold" *ngIf="irunner.lay == undefined">
                              0
                            </p>
                          </button>
                        </div>
                        <div class="suspended-text mt-1" *ngIf="irunner?.ballrunning == 1 && irunner?.suspended == 0">
                          Ball Running
                        </div>
                        <div class="suspended-text mt-1" *ngIf="irunner?.suspended == 1">
                          Suspended
                        </div>

                        <div class="suspended-text mt-1" *ngIf="irunner.lay== undefined && irunner.back== undefined">
                          Suspended
                        </div>

                      </div>
                    </div>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="p-1" *ngIf="fList.game_over==1">
          <div class="p-2 bg-white">
            <span><b>This market is closed.</b> <br> Result: {{fList.win_result}}</span>
          </div>
        </div>
      </div> <!-- end #accordions-->
    </div>

    <div class="col-xl-6" *ngIf="fList.game_over==0">
      <div class="border border-bottom border-top-0 mb-2 border-dark manual-session-ui">
        <h5 class="text-light text-capitalize bg-dark p-2 m-0">
          <b>bet list: : {{fList.title}}</b>
        </h5>

        <div class="p-1 table-responsive">
          <!-- <table id="ScrollVerticalMinus" class="table bg-white dt-responsive nowrap"> -->
          <table id="" class="table bg-white nowrap m-0">
            <thead class="bg-dark">
            <tr>
              <th>bet id</th>
              <th>runner name</th>
              <th *ngIf="user.role == 1">client</th>
              <th>odds</th>
              <th>stack</th>
              <th>P/L</th>

              <th *ngIf="user.role == 1">master</th>
              <th>sid</th>
              <th *ngIf="user.role == 1">ip</th>
              <th>time</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let item of betList" >
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}">{{item.id}}</td>
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}">{{item.runner}}</td>
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}" *ngIf="user.role == 1">{{item.client}}</td>
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}">{{item.rate}}</td>
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}">{{item.size}}</td>
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}">

                <span *ngIf="item.bType == 'lay' ">{{item.loss}}</span>
                <span *ngIf="item.bType == 'back'" >{{item.win}}</span>

              </td>

              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}" *ngIf="user.role == 1">{{item.master}}</td>

              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}">{{item.systemId}}</td>
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}" *ngIf="user.role == 1">{{item.ip_address}}</td>
              <td class="bg-{{ item.bType == 'back' ? 'back' : 'lay' }}">{{item.created_on}}</td>
            </tr>
            <tr *ngIf="betList?.length === 0">
              <td colspan="11" style="padding: 0;margin: 0">
                <div class="m-alert m-alert--outline m-alert--outline-2x alert alert-info alert-dismissible fade show" role="alert"
                     style="margin: 0">
                  <strong>
                    Sorry!
                  </strong>
                  No entry found for the display!
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <!-- end row -->

</div> <!-- container -->
