<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <div class="col-7 py-1 bg-danger">
      <h4 class="page-title">
        <a routerLink="/" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a> Football list
      </h4>
    </div>

    <div class="col-5 text-right py-1 bg-danger">
      <a routerLink="/events/football/create-new-football" *ngIf="user.role != 7" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create new</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables scroll-table">
      <table #dataTable class="display" style="width:100%">
      </table>
      <!--<table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>event name</th>
          <th>type</th>
          <th>date & time</th>
          <th>market</th>
          <th *ngIf="user.role != 7">action</th>

        </tr>
        </thead>


        <tbody>


        <tr *ngFor="let item of eventList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.name}}</td>
          <td>
            <a class="btn btn-xs btn-dark text-light border-0" *ngIf="item.type == 'CLOSED'" [ngClass]="{'bg-success':  item.type == 'IN_PLAY'}">
              {{item.type}}
            </a>

            <a class="btn btn-xs btn-dark text-light border-0"  *ngIf="item.game_over == 0  && item.type != 'CLOSED'" (click) = "changeEventType(item.id, item.name) " [ngClass]="{'bg-success':  item.type == 'IN_PLAY'}">
              {{item.type}}
            </a>
          </td>
          <td>
            {{item?.time+'000' | date:'medium'}}
          </td>
          <td class="text-left">
            <div>
              <span class="m-1"   *ngFor="let item2 of marketList; let b = index;">
              <a routerLink="{{item2.url}}/{{item.eventId}}/{{item.sportId}}" (click) = "setTitleOnClick(item.name)"
                 class="btn btn-xs border border-success text-success text-uppercase mb-1 {{item.isBM ===1 && item2.id ===1 ? 'em-active' : ' '
              && item.isBB ===1 && item2.id ===8 ? 'em-active' : ' ' && item.isF2 ===1 && item2.id ===4 ? 'em-active' : ' '
              && item.isFF ===1 && item2.id ===3 ? 'em-active' : ' ' && item.isF3 ===1 && item2.id ===5 ? 'em-active' : ' '
               && item.isKD ===1 && item2.id ===7 ? 'em-active' : ' ' && item.isOM ===1 && item2.id ===10 ? 'em-active' : ' '
               && item.isCC ===1 && item2.id ===9 ? 'em-active' : ' ' && item.isJK ===1 && item2.id ===6 ? 'em-active' : ' '
               }} "
                 target="_blank">{{item2.slug}}</a>
           </span>
            </div>
          </td>
          <td>
            <a (click)="doStatusUpdate(item, 2)" *ngIf="item.game_over == 0  && item.type != 'CLOSED' && user.role ==1" class="btn btn-xs text-light border-0 bg-{{item.class1}} mr-1 mb-1" title="{{item.tvtext}}">
              <i class="mdi {{item.class2}}"></i>
            </a>
            <a *ngIf="item.game_over == 0 && item.type != 'CLOSED' && user.role ==1" (click)="changeStatus(item)" class="btn btn-xs bg-secondary text-white {{ item.status == 1 ? 'btn-success' : 'btn-danger' }} success mb-1 mr-1">
              {{ item.status == 1 ? "Active" : "Inactive" }}
            </a>
            <a routerLink="/events/limits/set-limits/{{item.eventId}}/{{item.sportId}}" *ngIf="item.game_over == '0' && item.type != 'CLOSED'" class="btn btn-xs btn-dark text-white mb-1 mr-1">
              Setting
            </a>
            <a *ngIf="item.game_over == 0  && user.role !=7" (click)="closedStatus(item)" class="btn btn-xs btn-dark text-light text-uppercase mr-1 mb-1">Game Over</a>
            <a *ngIf="user.role ==1" (click)="deleteStatus(item)" class="btn btn-xs btn-danger text-light text-uppercase  mb-1">Delete</a>

          </td>


        </tr>

        </tbody>
      </table>-->

    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->

<ngx-spinner></ngx-spinner>

