<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">
    <div class="col-6 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/{{setUrl}}" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i
          class="mdi mdi-arrow-left"></i> Back </a>Jackpot list
      </h4>
    </div>

    <div class="col-6 text-right bg-danger py-1">
      <a routerLink="/markets/jackpot/create-jackpotgame/{{this.id}}/{{this.sportId}}"
         class="btn btn-xs btn-light font-weight-bold text-uppercase">Create new</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables">


      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th></th>
          <th>title</th>
          <th></th>
          <!--  <th>rule</th>-->
          <th>action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td></td>
          <td>{{item.title}}</td>
          <td></td>
          <!--<td></td>-->
          <td>

            <a (click)="changemarkettitle(item,null)" class="btn btn-xs bg-success text-light px-1 mr-1">
              <i class="mdi mdi-square-edit-outline"></i>
            </a>

            <a class="btn btn-xs bg-dark text-light mr-1" title="Add / Update"
               routerLink="/markets/jackpot/{{item.eid }}/jackpot-data/{{item.marketId}}" target="_blank">
              <span class="m-badge m-badge--wide  m-badge--info">Add / Update</span>
            </a>
            <a *ngIf="item.game_over == 0" (click)="changeStatus(item)"
               class="btn btn-xs btn-dark text-light {{ item.status == 1 ? 'btn-success' : 'btn-danger' }} mr-1">
              {{ item.status == 1 ? "Active" : "Inactive" }}
            </a>
            <a routerLink="/markets/limits/set-limits/{{item.eid}}/{{item.marketId}}/{{this.sportId}}/jackpot"
               class="btn btn-xs bg-dark text-light">
              Setting
            </a>
          </td>

        </tr>

        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->
<ngx-spinner></ngx-spinner>


