<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">
    <div class="col-7 py-1 bg-danger">
      <h4 class="page-title">
        <a routerLink="/" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a> Session User List
      </h4>
    </div>
    <div class="col-5 text-right py-1 bg-danger">
      <a routerLink="/users/reset-password/SU" class="btn btn-xs btn-light font-weight-bold text-uppercase">Reset Password All</a>
      <a routerLink="/users/create-session-user" class="btn btn-xs btn-light font-weight-bold text-uppercase ml-1">Create new</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables">


      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">

        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>user Name</th>
          <th>Name</th>
          <th>action</th>
          <th>Rights</th>
        </tr>
        </thead>


        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.username}}</td>
          <td>{{item.name}}</td>
          <td>
             <span>
            <a  routerLink="/users/update-session-user/{{item.id}}" class="btn-xs btn-success text-white" title="Edit">Edit</a>
            </span>
            <span (click)="changeStatus(item)" class="btn-xs btn-{{item.status.cssClass}} ml-1">{{item.status.text}}</span>
            <span>
             <a *ngIf="user.role ==1" (click)="deleteStatus(item)" class="btn ml-1 btn-xs btn-rp waves-effect waves-light">Delete</a>
            </span>

            <span>
            <a  routerLink="/users/reset-password/{{item.id}}" class="btn ml-1 btn-xs btn-rp waves-effect waves-light" title="Reset Password">Reset Password</a>
            </span>
          </td>
          <td width="500"> <span class="mr-1" *ngFor="let item2 of item.user_rights; let b = index;">
             <a class="btn btn-xs border border-dark text-dark text-uppercase mb-1">{{item2.name}}</a>
           </span>
          </td>



        </tr>

        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->


</div> <!-- container -->

<ngx-spinner></ngx-spinner>

