<!-- Start Content-->
<div class="container-fluid">
  <!-- end page title -->
  <div class="row">
    <div class="col-xl-6">
      <div class="mb-3 border border-bottom border-top-0 border-dark manual-session-ui">
        <h5 class="text-light text-capitalize bg-dark p-2 m-0">
          <b>Khado session : {{event_title}} : {{fList.title}}</b>
        </h5>
        <div class="p-1" *ngIf="fList.game_over == 0">
          <div class="p-2 bg-white">
            <div class="tab-content m-0 p-0">
              <div class="row">
                <div class="col-12 text-center">
                  <h5 class="team-time-out">time out: <span>00s</span></h5>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-row align-items-center mb-2">
                    <div class="col-md-3 col-4">
                      <button class="btn text-capitalize"
                              [ngClass]="{'btn-danger':  fList.suspended == 0, 'btn-success':  fList.suspended == 1}"
                              (click)="suspended();">suspended
                      </button>
                    </div>
                    <div class="col-md-3 col-4">
                      <button class="btn text-capitalize"
                              [ngClass]="{'btn-danger':  fList.status == '2', 'btn-success':  fList.status == '1'}"
                              (click)="changeStatus(mid)">{{fList.status == '2' ? 'In-active' : 'Active'}}</button>
                    </div>
                  </div>
                  <form [formGroup]="frm" (keydown.enter)="getFormData()"
                        class="m-form m-form--fit m-form--label-align-right">
                    <div class="form-row align-items-center">
                      <div class="col-md-3 col-6"
                           [ngClass]="{'has-danger' : ( frmKhadoRange.invalid && (frmKhadoRange.dirty || frmKhadoRange.touched) ) }">
                        <span>Khado range</span>
                        <input autocomplete="off" autofocus required formControlName="diffrance" pattern="\d*"
                               maxlength="3" (input)="limit($event);" aria-describedby="emailHelp"
                               class="form-control m-input" id="diffrance"
                               placeholder="Range" type="text" value="{{ fList.difference}}">
                        <small>no | ex: 9</small>
                      </div>

                      <div class="col-md-3 col-6"
                           [ngClass]="{'has-danger' : ( frmNoVal.invalid && (frmNoVal.dirty || frmNoVal.touched) ) }">
                        <span>Back price</span>
                        <input autocomplete="off" autofocus required formControlName="no_val" pattern="\d*"
                               maxlength="3" (input)="limit($event);" aria-describedby="emailHelp"
                               class="form-control m-input" id="no_run"
                               placeholder="Back price" type="text">
                        <small>no | ex: 90</small>
                      </div>
                      <div class="col-md-3 col-6"
                           [ngClass]="{'has-danger' : ( frmYesRate.invalid && (frmYesRate.dirty || frmYesRate.touched) ) }">
                        <span>Back rate</span>
                        <input required formControlName="yes_rate" aria-describedby="rateHelp"
                               class="form-control m-input" id="exampleInputMarketCount"
                               placeholder="Yes" type="text">
                        <small>yes | ex: 100</small>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="card-body p-2">
                    <div class="py-1 row justify-content-end align-items-center mb-1 bg-light align-center">
                      <div class="col-6 text-right">
                        <div class="button-list">
                          <button class="btn btn-dark btn-xs odd-btn  font-weight-bold">Back</button>
                          <button class="btn btn-dark btn-xs odd-btn font-weight-bold">Lay</button>
                        </div>
                      </div>
                    </div>

                    <div class="row justify-content-between align-items-center border-bottom border-light pb-1">
                      <div class="col-4 text-left">
                        <p class="m-0 bm-title">{{fList.title}}</p>
                      </div>
                      <div class="col-2 text-center">
                        <button (click)="getBookDataKhadoNew()" class="btn btn-xs btn-success text-uppercase">book
                        </button>
                      </div>
                      <div class="col-6 text-right">
                        <div class="suspended-div">
                          <div class="button-list">

                            <button class="btn btn-back odd-btn">
                              <p class="m-0 font-weight-bold">
                                {{cNoPrice ? cNoPrice : fList?.yes}}<br>
                                <small>{{cNoRate ? cNoRate : fList?.yes_rate}}</small>
                              </p>
                            </button>
                            <button class="btn btn-lay odd-btn">
                              <p class="m-0 font-weight-bold">
                                -<br><small>-</small>
                              </p>
                            </button>
                          </div>
                          <div class="button-list">

                            <div class="suspended-text m-0"
                                 *ngIf="( cBallRunning ? cBallRunning : fList.ball_running ) == 1">
                              Ball Running
                            </div>
                            <div class="suspended-text m-0" *ngIf="( cSuspended ? cSuspended : fList?.suspended ) == 1">
                              Suspended
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="p-1" *ngIf="fList.game_over == 1">
          <div class="p-2 bg-white">
            <span><b>This market is closed.</b> <br> Result: {{fList.win_result}}</span>
          </div>
        </div>

      </div> <!-- end #accordions-->
    </div>

    <div class="col-xl-6" *ngIf="fList.game_over == 0">
      <div class="border border-bottom border-top-0 mb-2 border-dark manual-session-ui">
        <h5 class="text-light text-capitalize bg-dark p-2 m-0">
          <b>bet list: : {{fList.title}}</b>
        </h5>

        <div class="p-1 table-responsive">
          <!-- <table id="ScrollVerticalMinus" class="table bg-white dt-responsive nowrap"> -->
          <table id="" class="table bg-white nowrap m-0">
            <thead class="bg-dark">
            <tr>
              <th>bet id</th>
              <th>runner name</th>
              <th *ngIf="user.role == 1">client</th>
              <th>rate</th>
              <th>stack</th>
              <th>P/L</th>
              <th *ngIf="user.role == 1">master</th>
              <th *ngIf="user.role == 1">ip</th>
              <th>Sid</th>
              <th>time</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let item of betList">
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}">{{item.id}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}">{{item.runner}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}" *ngIf="user.role == 1">{{item.client}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}">{{item.price + '/' + item.rate}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}">{{item.size}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}">

                <span *ngIf="item.bType == 'no' ">{{item.loss}}</span>
                <span *ngIf="item.bType == 'yes'">{{item.win}}</span>

              </td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}" *ngIf="user.role == 1">{{item.master}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}" *ngIf="user.role == 1">{{item.ip_address}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}">{{item.systemId}}</td>
              <td class="bg-{{ item.bType == 'yes' ? 'back' : 'lay' }}">{{item.created_on}}</td>
            </tr>
            <tr *ngIf="betList?.length === 0">
              <td colspan="11" style="padding: 0;margin: 0">
                <div class="m-alert m-alert--outline m-alert--outline-2x alert alert-info alert-dismissible fade show"
                     role="alert"
                     style="margin: 0">
                  <strong>
                    Sorry!
                  </strong>
                  No entry found for the display!
                </div>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

</div> <!-- container -->


<!-- modal -->
<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="UmpModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header py-2">
        <h5 class="modal-title" id="UmpModal">Book</h5>
        <button type="button" class="close" (click)="closeModal('UmpModal')" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table">
          <thead class="bg-danger">
          <tr class="text-uppercase">
            <th>Runs</th>
            <th>profit</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let plitem of fancyMarketBookData">
            <td>{{plitem.price}}</td>
            <td>
              <p *ngIf="plitem.profitLoss < 0" style="color:red; float: center;">{{plitem.profitLoss}}</p>
              <p *ngIf="plitem.profitLoss >= 0 " style="color:green;  float: center;">{{plitem.profitLoss}}</p>
            </td>
          </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- modal -->
<ngx-spinner></ngx-spinner>


