<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-4 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/markets/jackpot/{{eid}}/10" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Jackpot list : {{ this.eventtitle}}
      </h4>
    </div>

    <div class="col-8 text-right bg-danger py-1">
      <a (click)="changeSuspendAll()" *ngIf="this.game_over != '1'" class="btn btn-xs btn-light font-weight-bold text-uppercase">Suspended All</a>
      <a  (click)="deleteAll()" *ngIf="this.game_over != '1'" class="btn btn-xs btn-light font-weight-bold text-uppercase ml-1">Delete All</a>
      <a  (click)="abundant(this.eid, this.mid,'jackpot',10, this.eventtitle)" *ngIf="this.game_over != '1'" class="btn btn-xs btn-light font-weight-bold text-uppercase ml-1">Abundant</a>
      <a *ngIf="this.game_over != '1'" href="#" class="btn btn-xs btn-light font-weight-bold text-uppercase ml-1" data-toggle="modal" data-target="#import-files">Import CSV</a>
      <a *ngIf="this.game_over != '1'" routerLink="/markets/jackpot/{{eid}}/add-runners/{{mid}}" class="btn btn-xs btn-light font-weight-bold text-uppercase ml-1">Add Runners</a>
      <a  routerLink="/markets/jackpot/{{eid}}/bet-list/{{mid}}" class="btn btn-xs btn-light font-weight-bold text-uppercase ml-1">Bet List</a>
    </div>
    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>#</th>
          <th>Team A</th>
          <th>Team A Player</th>
          <th>Team B</th>
          <th>Team B Player</th>
          <th>Rate</th>
          <th>Action</th>
          <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.col_1}}</td>
          <td>{{item.col_2}}</td>
          <td>{{item.col_3}}</td>
          <td>{{item.col_4}}</td>
          <td>{{item.rate}}</td>
          <td>
           <!-- <a routerLink="/markets/bookmaker/update-bookmaker/{{this.id}}/{{this.sportId}}/{{item.marketId}}" class="btn btn-xs border border-success ml-1">
              <i class="mdi mdi-square-edit-outline"></i>
            </a>-->
            <!--<a href="" class="btn btn-xs bg-secondary text-white ml-1">
              Edit
            </a>-->
            <a (click)="changetitle(item.mid, item)" class="btn btn-xs bg-success text-light px-1 mr-1" >
              <i class="mdi mdi-square-edit-outline"></i>
            </a>
            <a  (click)="changeStatus(item)" *ngIf="this.game_over == '0' " class="btn btn-xs text-white {{ item.status == 1 ? 'btn-success' : 'btn-danger' }} success">
              {{ item.status == 1 ? "Active" : "Inactive" }}
            </a>
            <a (click)="changeSuspendStatus(item)" *ngIf="this.game_over == '0' " class="btn btn-xs text-white {{ item.suspended == 1 ? 'btn-success' : 'btn-danger' }} success ml-1">
              {{ item.suspended == 0 ? "Suspanded: yes" : "Suspanded: no" }}
            </a>
          </td>
          <td>
            <div class="mb-1">
              <a (click)="gameOver(eid, item.mid, item.secId, this.eventtitle,'jackpot', 10)" *ngIf="this.game_over == '0' && user.role != 7" class="btn btn-xs btn-light border border-success text-success text-uppercase ml-1">Winner</a>


              <a *ngIf="this.game_over == '1' && this.result== item.secId" class="btn btn-xs btn-light border border-success text-success text-uppercase ml-1">Winner</a>
              <a (click)="gameRecall(eid, item.mid, item.secId, this.eventtitle,'jackpot', 10)" *ngIf="this.game_over == '1' && this.result== item.secId && user.role != 7" class="btn btn-xs btn-light border border-success text-success text-uppercase ml-1">Game Recall</a>

              <a *ngIf="this.game_over == '1' && this.result== 'Abundant' && i === 0  && user.role != 7" class="btn btn-xs btn-light border border-success text-success text-uppercase ml-1">Abundant</a>
              <a (click)="gameRecall(eid, item.mid, item.secId, this.eventtitle,'jackpot', 10)" *ngIf="this.game_over == '1' && this.result== 'Abundant' && i === 0 && user.role != 7" class="btn btn-xs btn-light border border-success text-success text-uppercase ml-1">Game Recall</a>

            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- end row -->
</div> <!-- container -->


<!--modal popup start-->
<div class="modal fade ctm-model-design" id="import-files">
  <div class="modal-dialog modal-ui">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-capitalize">Jackpot CSV/XLS File Import <b></b></h4>
        <button class="btn btn-light border-0 font-weight-bold" id="close-modal" type="button" data-dismiss="modal" aria-hidden="true">X</button>
      </div>
      <div class="modal-body container">
        <form (ngSubmit)="submitForm()" id="frmUploadXls"  class="form-ui m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group">
              <h3>Upload File</h3>

              <div class="bg-light py-1">
              <input maxlength="50" class="border-0 px-2 bg-light" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" type="file">
              </div>

              <div class="form-control-feedback" *ngIf="file?.name"><strong>Selected File : {{file.name}}</strong></div>
              <div class="form-control-feedback" *ngIf="fileError">{{fileError}}</div>
              <p class="text-dark font-weight-bold m-0 text-center">
								File upload | Ex xyz ( Note : Upload limit is 50 Records! )
							</p>
              <span class="text-danger text-center" *ngIf="errorMsg != ''" class="m-form__help">
								Error : {{errorMsg}}
							</span>
              <span class="text-capitalize d-block text-center">
								<a class="text-success font-weight-bold" href="http://api3-session.dbm9.com/upload/CreateJackpot.xlsx">Download Sample File!</a>
							</span>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-danger font-weight-bold text-uppercase" type="submit">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--modal popup end-->

<ngx-spinner></ngx-spinner>

<!-- Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Jackpot CSV/XLS File Import </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->



