<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-center bg-light border border-danger">
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/markets/jackpot/{{this.eid}}/{{this.sportId}}" class="btn btn-xs btn-light waves-effect waves-light mr-1"><i class="mdi mdi-arrow-left"></i> Back </a>Create jackpot game

      </h4>
    </div>
    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3">
                <label>Title</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="title" class="form-control" placeholder="enter title" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmtitle.invalid && (frmtitle.dirty || frmtitle.touched)">title invalid</em>
                </div>
                <p class="form-refer-text">Title | Ex T1 Vs T2 </p>
              </div>

              <div class="form-group mb-3">
                <label>Type </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <select required formControlName="type" aria-describedby="emailHelp" class="form-control" type="select" >
                    <option ng-selected="true" value="" >Select Type</option>
                    <option *ngFor="let item of CList" [value]="item.id" ng-selected="true" >{{item.title}}</option>

                  </select>
                  <em class="show-error" *ngIf="frmtype.invalid && (frmtype.dirty || frmtype.touched)">type invalid</em>
                </div>
              </div>
              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <a routerLink="/markets/jackpot/{{this.eid}}/{{this.sportId}}" class="btn btn-danger btn-md waves-effect waves-light">cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->
  </div> <!-- container -->
