<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12 px-1">

            <div class="dash-tabd">
                <ul *ngIf="dataList"  class="nav nav-tabs nav-bordered my-nav-tabs pb-1">
                  <li class="nav-item" (click)="getDataList( 'all' )">
                    <a class="nav-item nav-link" (click)="isActiveTabs = 'all';" [ngClass]="{'active': isActiveTabs === 'all'}">
                            <!-- <img src="assets/img/tab-dashboard.svg"> -->
                            Dashboard
                        </a>
                    </li>

                  <li *ngIf="user.role==5 && isDash ==1"  class="nav-item" (click)="getDataList( 'market' )">
                    <a class="nav-item nav-link" (click)="isActiveTabs = 'market';" [ngClass]="{'active': isActiveTabs === 'market'}">
                      <!-- <img src="assets/img/tab-market.svg"> -->
                      Market
                    </a>
                  </li>
                  <li *ngIf="user.role==1"  class="nav-item" (click)="getDataList( 'market' )">
                      <a class="nav-item nav-link" (click)="isActiveTabs = 'market';" [ngClass]="{'active': isActiveTabs === 'market'}">
                            <!-- <img src="assets/img/tab-market.svg"> -->
                            Market
                        </a>
                    </li>
                    <li *ngFor="let item of dataList" class="nav-item" (click)="getDataList( item.slug )">
                      <a  class="nav-item nav-link" id="{{'nav-'+item.slug+ '-tab'}}" *ngIf="item.name != 'Dashboard' && item.name != 'Add Events'" (click)="isActiveTabs = item.slug;" [ngClass]="{'active': isActiveTabs === item.slug}">
                        <!-- <img src="assets/img/{{item.icon}}"> -->

                        {{item.name}}
                      </a>

                    </li>

                </ul>
            </div>

            <div class="tab-content ctm-tabs-content pt-0" id="nav-tabContent">
              <div class="tab-pane fade" id="nav-All" [ngClass]="{'active show': isActiveTabs === 'all'}">
                    <div class="col-md-12 all-dash-tabs">
                        <div class="row">
                            <div *ngIf="user.role==1" class="col-md-3 col-6 dash-col-3">

                              <a  (click)="isActiveTabs = 'market';" (click)="getDataList( 'market' )">

                                       <div class="widget-rounded-circle bg-card">
                                            <!-- <img class="img-fluid" src="assets/img/dash-market.svg" alt=""> -->
                                            <p class="text-muted mb-1 text-truncate text-uppercase">my market</p>
                                            <!--<span data-plugin="counterup">15</span>-->
                                        </div>

                                    </a>

                            </div>

                            <div *ngFor="let item of dataList" class="col-md-3 col-6 dash-col-3" >
                                <a (click)="isActiveTabs = item.slug;" (click)="getDataList( item.slug )" >
                                    <div class="widget-rounded-circle bg-card">
                                        <!-- <img class="img-fluid" src="assets/img/{{item.img}}" alt=""> -->
                                        <p class="text-muted mb-1 text-truncate text-uppercase">{{item.name}}</p>
                                       <!-- <span data-plugin="counterup">{{item.count}}</span>-->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>



              <div aria-labelledby="nav-MYMARKET-tab" class="tab-pane fade" id="nav-MYMARKET"  [ngClass]="{'active show': isActiveTabs === 'market'}" role="tabpanel" aria-expanded="false">

                 <!-- session user div--->
                  <div class="row" *ngIf="user.role!=1">
                        <div *ngFor="let item of marketList" class="col-12 dash-div">
                            <h5 class="bg-danger text-uppercase text-light py-1 px-2 font-weight-bold mt-1 mb-0">
                                {{item.name}}
                            </h5>

                            <div  *ngFor="let item2 of item.event" class="row mx-0 py-2 text-capitalize align-items-center">
                              <div  class="col-md-4 col-12">
                                {{item2.name}}
                              </div>
                                <div class="col-md-2 col-9">
                                  {{ item2.time*1000 | date :'mediumDate' }}
                                  <small class="dash-timer">{{ item2.time*1000 | date :'mediumTime' }}</small>
                                </div>
                                <div class="col-md-1 col-3">
                                  <b>{{ item2.betCount }} bets</b>
                                </div>
                              <p *ngIf="item2.type == 'IN_PLAY'" class="inplay-dash"><i class="mdi mdi-circle blinker"></i>live</p>
                              <p class="upcoming-dash" *ngIf="item2?.type == 'CLOSED'">CLOSED</p>
                              <p *ngIf="item2.type == 'UPCOMING'" class="upcoming-dash">upcoming</p>
                            </div>
                        </div> <!-- end col -->
                    </div>

               <!--session admin view-->
                <div class="row" *ngIf="user.role==1">
                  <div *ngFor="let item of marketList" class="col-12 dash-div">
                    <h5 class="bg-danger text-uppercase text-light py-1 px-2 font-weight-bold mt-1 mb-0">
                      {{item.name}}
                    </h5>

                    <div  *ngFor="let item2 of item.event" class="row mx-0 py-2 text-capitalize align-items-center" routerLink="dashboard/event-details/{{item.name | lowercase}}/{{item2.eventId}}">
                      <div class="col-md-4 col-12">
                        {{item2.name}}
                      </div>
                      <div class="col-md-2 col-9">
                        {{ item2.time*1000 | date :'mediumDate' }}
                        <small class="dash-timer">{{ item2.time*1000 | date :'mediumTime' }}</small>
                      </div>
                      <div class="col-md-1 col-3">
                        <b>{{ item2.betCount }} bets</b>
                      </div>
                      <p *ngIf="item2.type == 'IN_PLAY'" class="inplay-dash"><i class="mdi mdi-circle blinker"></i>live</p>
                      <p class="upcoming-dash" *ngIf="item2?.type == 'CLOSED'">CLOSED</p>
                      <p *ngIf="item2.type == 'UPCOMING'" class="upcoming-dash">upcoming</p>
                    </div>
                  </div> <!-- end col -->
                </div>

                </div>


              <div *ngFor="let item of dataList" class="tab-pane fade" id="nav-CRICKET" role="tabpanel" [ngClass]="{'active show': isActiveTabs === item.slug }">
              <div class="row">
                        <div class="col-12 dash-div" *ngIf="user.role !=1">
                            <h5 class="bg-danger text-uppercase text-light py-1 px-2 font-weight-bold mt-1 mb-0" id="DashButtonGame">
                                {{item.name}}
                            </h5>

                          <div *ngFor="let event of eventList" class="row mx-0 py-2 text-capitalize align-items-center">
                              <div class="col-md-4 col-12">
                                {{event.name}}
                              </div>
                                <div class="col-md-2 col-9">
                                  {{ event.time*1000 | date :'mediumDate' }}
                                    <small class="dash-timer">{{ event.time*1000 | date :'mediumTime' }}</small>
                                </div>
                                <div class="col-md-1 col-3">
                                  {{event.betCount}} bets
                                </div>
                                <div class="col-md-5 col-12" *ngIf="event.sportId !==6 && event.sportId !==10 && event.sportId !==11">

                                    <div class="btn-group mr-1" role="group" aria-label="">
                                      <button type="button" class="d-blue-area">{{event.odds? event.odds.backPrice1 : 0 }}</button>
                                      <button type="button" class="d-red-area">{{event.odds? event.odds.backPrice1 : 0}}</button>
                                    </div>

                                  <div class="btn-group mr-1" role="group" aria-label="">
                                    <button type="button" class="d-blue-area">-</button>
                                    <button type="button" class="d-red-area">-</button>
                                  </div>
                                    <div class="btn-group" role="group" aria-label="">
                                      <button type="button" class="d-blue-area">{{event.odds? event.odds.backPrice1 : 0}}</button>
                                      <button type="button" class="d-red-area">{{event.odds? event.odds.layPrice1 : 0}}</button>
                                    </div>

                                </div>
                                <p class="inplay-dash" *ngIf="event?.type == 'IN_PLAY'"><i class="mdi mdi-circle blinker"></i>live</p>
                              <p class="upcoming-dash" *ngIf="event?.type == 'CLOSED'">CLOSED</p>
                              <p class="upcoming-dash" *ngIf="event?.type == 'UPCOMING'">upcoming</p>
                            </div>
                    </div>


                <div class="col-12 dash-div" *ngIf="user.role ==1">
                  <h5 class="bg-danger text-uppercase text-light py-1 px-2 font-weight-bold mt-1 mb-0" id="DashButtonGame">
                    {{item.name}}
                  </h5>

                  <div *ngFor="let event of eventList" routerLink="dashboard/event-details/{{item.slug | lowercase}}/{{event.eventId}}" class="row mx-0 py-2 text-capitalize align-items-center">
                    <div class="col-md-4 col-12">
                      {{event.name}}
                    </div>

                    <div class="col-md-2 col-9">
                      {{ event.time*1000 | date :'mediumDate' }}
                      <small class="dash-timer">{{ event.time*1000 | date :'mediumTime' }}</small>
                    </div>
                    <div class="col-md-1 col-3">
                      {{event.betCount}} bets
                    </div>
                    <div class="col-md-5 col-12" *ngIf="event.sportId !==6 && event.sportId !==10 && event.sportId !==11">

                      <div class="btn-group mr-1" role="group" aria-label="">
                        <button type="button" class="d-blue-area">{{event.odds? event.odds.backPrice1 : 0 }}</button>
                        <button type="button" class="d-red-area">{{event.odds? event.odds.backPrice1 : 0}}</button>
                      </div>

                      <div class="btn-group mr-1" role="group" aria-label="">
                        <button type="button" class="d-blue-area">-</button>
                        <button type="button" class="d-red-area">-</button>
                      </div>
                      <div class="btn-group" role="group" aria-label="">
                        <button type="button" class="d-blue-area">{{event.odds? event.odds.backPrice1 : 0}}</button>
                        <button type="button" class="d-red-area">{{event.odds? event.odds.layPrice1 : 0}}</button>
                      </div>

                    </div>
                    <p class="inplay-dash" *ngIf="event?.type == 'IN_PLAY'"><i class="mdi mdi-circle blinker"></i>live</p>
                    <p class="upcoming-dash" *ngIf="event?.type == 'CLOSED'">CLOSED</p>
                    <p class="upcoming-dash" *ngIf="event?.type == 'UPCOMING'">upcoming</p>
                  </div>

                </div>

        </div>
    </div>
</div>
   <ngx-spinner></ngx-spinner>
