<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between border-danger border bg-light">
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/{{this.setUrl}}" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Set Limits
      </h4>
    </div>
    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>
              <div class="form-group mb-3" style="display: none;">
                <label>Upcoming Min Stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="upcoming_min_stack" class="form-control" placeholder="enter event name" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmUpcomingMinStack.invalid && (frmUpcomingMinStack.dirty || frmUpcomingMinStack.touched)">Value invalid</em>
                </div>
                <p class="form-refer-text">Upcoming Min Stake | Ex 1000</p>
              </div>

              <div class="form-group mb-3" style="display: none;">
                <label>Upcoming Max Stake</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="upcoming_max_stack" class="form-control" placeholder="enter event league" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmUpcomingMaxStack.invalid && (frmUpcomingMaxStack.dirty || frmUpcomingMaxStack.touched)">Event league invalid</em>
                </div>
                <p class="form-refer-text">Upcoming Max Stake | Ex 1000</p>
              </div>

              <div class="form-group mb-3" style="display: none;">
                <label>Max Odd Limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="max_odd" class="form-control" placeholder="enter event time" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxOdd.invalid && (frmMaxOdd.dirty || frmMaxOdd.touched)">Max odd invalid</em>
                </div>
                <p class="form-refer-text">Max odd limit | Ex 1000 </p>
              </div>

              <div class="form-group mb-3">
                <label>Event Max Profit Limit </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="overall_profit" class="form-control" placeholder="overall profit limit" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmOverallProfit.invalid && (frmOverallProfit.dirty || frmOverallProfit.touched)">Overall profit invalid</em>
                </div>
                <p class="form-refer-text">Event Max Profit Limit | Ex 10000 </p>
              </div>


              <div class="form-group mb-3" style="display: none1">
                <label>Session min stack</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="min_stack" class="form-control" placeholder="enter Runner 1 " aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMinStack.invalid && (frmMinStack.dirty || frmMinStack.touched)">Min stack invalid</em>
                </div>
                <p class="form-refer-text">Session Min Stake | Ex 1000 </p>
              </div>

            <div class="form-group mb-3" style="display: none1">
                <label>Session max Stack</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="max_stack" class="form-control" placeholder="enter event play type " aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxStack.invalid && (frmMaxStack.dirty || frmMaxStack.touched)">Max stack invalid</em>
                </div>
                <p class="form-refer-text">Session Max Stake | Ex 1000 </p>
              </div>




              <div class="form-group mb-3" style="display: none1">
                <label>Market max Profit Limit </label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="max_profit" class="form-control" placeholder="enter Runner 2 " aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxProfit.invalid && (frmMaxProfit.dirty || frmMaxProfit.touched)">Max profit invalid</em>
                </div>
                <p class="form-refer-text">Market Max Profit Limit | Ex 10000 </p>
              </div>

              <div class="form-group mb-3" style="display: none1">
                <label>Bet Delay</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" formControlName="bet_delay" class="form-control" placeholder="enter Runner 3 " aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmBetDelay.invalid && (frmBetDelay.dirty || frmBetDelay.touched)">Bet delay invalid</em>
                </div>
                <p class="form-refer-text">Bet delay | Ex 1 second </p>
              </div>


              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <a routerLink="/events/{{this.setUrl}}" class="btn btn-danger btn-md waves-effect waves-light"><i class="mdi mdi-arrow-left"></i> cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->



  </div> <!-- container -->
