<!-- Start Content-->
<div class="container-fluid">
  <div class="row justify-content-between">
    <div class="col-6 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/markets/jackpot/{{eid}}/jackpot-data/{{mid}}" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Bet list : {{ this.eventtitle}}
      </h4>
    </div>
    <div class="col-6 text-right bg-danger py-1">
    </div>
    <div class="col-xl-12 bg-white py-2 ctm-datables">
      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">
        <thead class="bg-danger">
        <tr class="text-white">
          <th>bet id</th>
          <th>market name</th>
          <th>side</th>
          <th *ngIf="user.role == 1">client</th>
          <th *ngIf="user.role == 1">master</th>
          <th>price</th>
          <th>rate</th>
          <th>stake</th>
          <th>P/L</th>
          <th>bet status</th>
          <th *ngIf="user.role == 1">IP</th>
          <th>SID</th>
          <th>created time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{item.id}}</td>
          <td>{{item.market}}</td>
          <td>{{item.bType}}</td>
          <td *ngIf="user.role == 1">{{item.client}}</td>
          <td *ngIf="user.role == 1">{{item.master}}</td>
          <td>{{item.price}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.size}}</td>
          <td>
          <span *ngIf="item.bType == 'lay' ">{{item.loss}}</span>
          <span *ngIf="item.bType == 'back'" >{{item.win}}</span>
        </td>
          <td>{{item.result}}</td>
          <td *ngIf="user.role == 1">{{item.ip_address}}</td>
          <td>{{item.systemId}}</td>
          <td>{{item.created_on}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- end row -->
</div> <!-- container -->




<!--modal popup start-->
<div class="modal fade ctm-model-design" id="import-files">
  <div class="modal-dialog modal-ui">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-capitalize">Jackpot CSV/XLS File Import <b></b></h4>
        <button class="btn btn-light border-0 font-weight-bold" id="close-modal" type="button" data-dismiss="modal" aria-hidden="true">X</button>
      </div>
      <div class="modal-body container">
        <form [formGroup]="frmUpload" (ngSubmit)="submitForm()"   class="form-ui m-form m-form--fit m-form--label-align-right">
          <div class="m-portlet__body">
            <div class="form-group m-form__group">
              <h3>Upload File</h3>

              <div class="bg-light py-1">
              <input maxlength="50" class="border-0 px-2 bg-light" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" type="file">
              </div>

              <div class="form-control-feedback" *ngIf="file?.name"><strong>Selected File : {{file.name}}</strong></div>
              <div class="form-control-feedback" *ngIf="fileError">{{fileError}}</div>
              <p class="text-dark font-weight-bold m-0 text-center">
								File upload | Ex xyz ( Note : Upload limit is 50 Records! )
							</p>
              <span class="text-danger text-center" *ngIf="errorMsg != ''" class="m-form__help">
								Error : {{errorMsg}}
							</span>
              <span class="text-capitalize d-block text-center">
								<a class="text-success font-weight-bold" href="http://dreamexch9.com/sample/jackpot.xlsx">Download Sample File!</a>
							</span>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-danger font-weight-bold text-uppercase" type="submit" [ngClass]="{'disabled': !frmUpload.valid }">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--modal popup end-->

<ngx-spinner></ngx-spinner>

<!-- Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Jackpot CSV/XLS File Import </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>-->



