<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between">

    <div class="col-7 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="/events/jackpot/jackpot-list" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Jackpot Game Type
      </h4>
    </div>
    <div class="col-5 text-right bg-danger py-1">
      <a routerLink="/events/jackpot/create-game-type" *ngIf="user.role != 7" class="btn btn-xs btn-light font-weight-bold text-uppercase">Create game type</a>
    </div>

    <div class="col-xl-12 bg-white py-2 ctm-datables">

      <table id="scroll-horizontal-datatable" class="table w-100 nowrap table-hover scroll-horizontal-datatable">

        <thead class="bg-danger">
          <tr class="text-white">
            <th>#</th>
            <th>Title</th>
            <th></th>
            <th></th>
            <th></th>
            <th *ngIf="user.role != 7">action</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of aList; let i = index;">
          <td>{{ i + page.start }}</td>
          <td>{{item.title}}</td>
          <td>
            <a href="" class="btn btn-xs text-white btn-dark">{{item.title}}</a>
          </td>
          <td>

          </td>
          <td class="text-left">
           <!-- <div >
              <span class="m-badge m-badge&#45;&#45;wide  m-badge&#45;&#45;{{ item.status == 1 ? 'info' : 'metal' }}">{{ item.status == 1 ? "Active"
                : "Inactive" }}</span>
            </div>-->
          </td>
          <td *ngIf="user.role != 7">
             <span class="m-lg-1">
                <a class="btn btn-xs btn-success text-light text-uppercase">{{ item.status == 1 ? "Active"
                  : "Inactive" }}</a>
            </span>

          </td>
          <td>
          </td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>
  <!-- end row -->
</div> <!-- container -->

<ngx-spinner></ngx-spinner>
