<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-center bg-light border border-danger">

    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        <a routerLink="{{this.setUrl}}/{{this.eid}}/{{this.sportId}}" class="btn btn-xs btn-light waves-effect waves-light mr-1 px-1"><i class="mdi mdi-arrow-left"></i> Back </a>Set Market Limits
      </h4>
    </div>


    <div class="col-12 ctm-form">

      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()" >
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3"  *ngIf="this.mtype === 'goals' || this.mtype === 'set_market'">
                <label>Max Odd Limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="max_odd_limit" class="form-control" placeholder="enter title" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmOddLimit.invalid && (frmOddLimit.dirty || frmOddLimit.touched)">max odd limit invalid</em>
                </div>
                <p class="form-refer-text">Max Odd Limit | Ex 10000</p>
              </div>


              <div class="form-group mb-3">
                <label>Max Stack</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="max_stack" class="form-control" placeholder="enter title" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxStack.invalid && (frmMaxStack.dirty || frmMaxStack.touched)">Max stack invalid</em>
                </div>
                <p class="form-refer-text">Client Max Stack | Ex 1000
                </p>
              </div>

              <div class="form-group mb-3">
                <label>Min Stack</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="min_stack" class="form-control" placeholder="enter title" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMinStack.invalid && (frmMinStack.dirty || frmMinStack.touched)">Max stack invalid</em>
                </div>
                <p class="form-refer-text">Client Min Stack | Ex 1000
                </p>
              </div>

              <div class="form-group mb-3">
                <label *ngIf="this.mtype != 'meter'">Max Profit Limit</label>
                <label *ngIf="this.mtype === 'meter'">Max Expose Limit</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="max_profit_limit" class="form-control" placeholder="enter title" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmMaxProfitLimit.invalid && (frmMaxProfitLimit.dirty || frmMaxProfitLimit.touched)">Max stack invalid</em>
                </div>
                <p class="form-refer-text" *ngIf="this.mtype != 'meter'">Max Profit Limit | Ex 10000</p>
                <p class="form-refer-text" *ngIf="this.mtype === 'meter'">Max Expose Limit | Ex 10000</p>
              </div>


              <div class="form-group mb-3" *ngIf="this.sportId != '11'">
                <label>Bet Delay</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user-tie"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="bet_delay" class="form-control" placeholder="enter title" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmBetDelay.invalid && (frmBetDelay.dirty || frmBetDelay.touched)">Max stack invalid</em>
                </div>
                <p class="form-refer-text">Bet delay | Ex 1 second

                </p>
              </div>


              <div class="form-group mb-3" *ngIf="this.sportId=='10' && this.mtype != 'fancy2' && this.mtype != 'fancy3' && this.mtype != 'khado'">
                <label>commentary</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-comments"></i>
                    </span>
                  </div>
                  <input type="text" required formControlName="commentary" value="0" class="form-control" placeholder="enter commentary" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmcommentary.invalid && (frmcommentary.dirty || frmcommentary.touched)">commentary invalid</em>
                </div>
                <p class="form-refer-text">commentary | Ex abc xyz  </p>
              </div>

              <div class="form-group mb-3" *ngIf="this.sportId=='10' && this.mtype != 'fancy2' && this.mtype != 'fancy3' && this.mtype != 'khado'">
                <label>rules</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fab fa-wpforms"></i>
                    </span>
                  </div>
                  <textarea required formControlName="rules" value="0" class="form-control" placeholder="enter rules" aria-label="" aria-describedby=""></textarea>
                  <em class="show-error" *ngIf="frmrules.invalid && (frmrules.dirty || frmrules.touched)">rules invalid</em>
                </div>

              </div>

              <div class="form-group text-center">
                <div class="button-list">

                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid }">submit</button>
                  <a routerLink="{{this.setUrl}}{{this.eid}}/{{this.sportId}}" class="btn btn-danger btn-md waves-effect waves-light">cancel </a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->



  </div> <!-- container -->
