<!-- Start Content-->
<div class="container-fluid">

  <div class="row justify-content-between border-danger border bg-light">

    <!--back & create-->
    <div class="col-12 bg-danger py-1">
      <h4 class="page-title">
        {{title}}
      </h4>
    </div>
    <!--back & create-->

    <div class="col-xl-12 ctm-form">
      <div class="row justify-content-center">
        <div class="col-xl-5">
          <div class="ctm-form-div">
            <form [formGroup]="frm" (ngSubmit)="submitForm()">
              <h2 class="h2-head">
                <i class="fas fa-thumbs-up"></i>
              </h2>

              <div class="form-group mb-3">
                <label>Password</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                      <span class="input-group-text">
                         <!-- <i class="fas fa-key"></i>-->
                          <i *ngIf="passType != 'password'" (click)="passType = 'password'" class="fa fa-eye"></i>
                        <i *ngIf="passType == 'password'" (click)="passType = 'text'" class="fa fa-eye-slash"></i>
                      </span>
                  </div>
                  <input type="{{passType}}" minlength="8" maxlength="50" required formControlName="password"
                         class="form-control" placeholder="Password" aria-label="" aria-describedby="">
                  <em class="show-error" *ngIf="frmPassword.invalid && (frmPassword.dirty || frmPassword.touched)">Password
                    Invalid !</em>
                </div>
                <p class="form-refer-text"> Password | Ex xyz</p>
              </div>

              <div class="form-group text-center">
                <div class="button-list">
                  <button class="btn btn-success btn-md waves-effect waves-light" [ngClass]="{'disabled': !frm.valid}">
                    Submit
                  </button>
                  <button class="btn btn-danger btn-md waves-effect waves-light" (click)="onCancel()">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>


</div> <!-- container -->
